{% extends 'website/base.html' %}
{% load static%}
{% block base_meta_block %}
	<!-- This Block Needs to be on every page of the Website -->
	<title> Cyber Vidyapeeth </title>
	<meta name="keywords" content="Cyber Vidyapeeth " />
	<meta name="description" content="Cyber Vidyapeeth " />
{% endblock%}

{% block base_head_block %}
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header course_detail_header" style="">
  <div class="shadeoverlay"></div>
  <div class="container">
  	<div class="content">
	    <div class="row">
	    	<div class="col-md-12 text-center">
		    	
			    	<!-- <div>
			    		<img src="{% static 'cybervidyapeeth/images/courses/sspu-logo.jpg' %}" class="img-responsive" style="border-radius: 10px;margin-bottom: 30px;" />
			    	</div> -->
			      <h1 class=""> Advance Diploma in Cyber Defense </h1>
			      <p> A 6 month long program that enables learners to try.  </p>
			      <div>
			      	<a href="" class="btn btn-md btn-warning rounded-0"> Apply </a>
			      </div>
			    
	   	 	</div>
	   	 	<div class="col-md-4 d-none">
	   	 		<div class="bg-white p-4 text-black">
	   	 			<div class="bg-gray-f5f5f5 p-3">
								<div class="form_error_box hidden">
									<div class="alert alert-danger  "></div>
								</div>
								<form class="form flat_form ajax_form refresh_on_success" action="">
									{% csrf_token %}
									<div class="form-loader hidden ">
							      <p><i class="fa fa-pulse fa-spinner "></i><br/>
							      <span class="font-16">Please Wait ...</span></p>
							    </div>

									<div class="form-group">
										<label> <strong>Name</strong>  <span class="text-danger">*</span></label>
										<input type="text" name="name" class="form-control" placeholder="Enter Your Name " value="{{cv.course_chapter.name}}" />
										<div class="help-text"></div>
									</div>

									<div class="form-group">
										<label> <strong>Email</strong>  <span class="text-danger">*</span></label>
										<input type="text" name="name" class="form-control" placeholder="Enter Your Email ID " value="{{cv.course_chapter.name}}" />
										<div class="help-text"></div>
									</div>

									
									<div class="form-group">
										<label> <strong>Mobile</strong>  <span class="text-danger">*</span></label>
										<input type="text" name="name" class="form-control" placeholder="Enter Your Email ID " value="{{cv.course_chapter.name}}" />
										<div class="help-text"></div>
									</div>

							
									
									

									


									
									<div class="text-right">
									<button type="submit" class="btn submit_btn btn-danger d-block w-100 rounded-0 font-weight-600 d-block ">
							        <span  class="spinner-border spinner-border-md spinner-border-thin btn_loader mr-1 d-none"></span>
							        <span class="btn_text"> Apply Now</span>
							    </button>
							    <div class="mt-2">Last date to apply <strong class="">22nd May, 2022</strong></div>
							  </div>
								</form>
							</div>
	   	 		</div>
	   	 	</div>
	    </div>

	    <div class="bt-white p-4" style="background: #fff;position: relative;top: 118px;box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);border-radius: 7px;">
	    		<div class="row">
	    			<div class="col-md-4">
	    				<div class="two_row_data_box">
	    					<div class="row_1"> Classes </div>
	    					<div class="row_2"> 20 hrs/week</div>
	    				</div>
	    			</div>
	    			<div class="col-md-4">
	    				<div class="two_row_data_box">
	    					<div class="row_1"> Duration </div>
	    					<div class="row_2"> 6 Months </div>
	    				</div>
	    			</div>

	    			<div class="col-md-4">
	    				<div class="two_row_data_box">
	    					<div class="row_1"> Mode </div>
	    					<div class="row_2"> Live Lectures/ Simulators </div>
	    				</div>
	    			</div>

	    		</div>
	    </div>
    


    </div>
  </div>
</div>
<div class="h-section">
	<div class="container py-5 page_content">
		<div class="row">
			<div class="col-md-12">
				
					<h3 class="course_detail_heading heading_with_underline"> Program Overview </h3>
					<div class="mb-5">
						<p class="fs-6">
							This Advance Diploma in Cyber Defense will help you develop expertise in defensive cybersecurity, application security, malware analysis, ethical hacking, and much more. This program provides you with a deep understanding needed to spot the opportunities for disruption in the cybersecurity industry.
						</p>
					</div>
					<h3 class="course_detail_heading heading_with_underline"> Syllabus </h3>

					<div class="mb-5">
						<ul class="features-list">
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Introduction to Offensive Python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Penetration Testing with Python</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Forensic Investigations with Python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Network Traffic Analysis with Python</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Wireless Attack with Python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Web Recon with Python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Antivirus Evasion with Python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Python for Data Science</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Statistical Analysis of Data</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Machine Learning- Make the Data Dance </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Time Series Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Text Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Networking Foundation</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Core Networking & Attack Methods</span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						             Vulnerability Scanning Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Web App Vulnerability Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Phishing Vulnerability Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Binary Vulnerability Analysis </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Network Architecture  </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Offensive Python – Network security with python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Offensive Python – Web application security with python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Offensive Python – Endpoint security with python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Offensive Python – Encryption basics with python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Offensive Python – Buffer overflow basics with python </span>
						    </li>
						    <li>
						        <span>
						            <i class="fa fa-check-circle"></i>
						            Lab & Cyber Simulator (200 Hours) </span>
						    </li>
						    
						</ul>
					</div>

					<h3 class="course_detail_heading heading_with_underline"> Prerequisites </h3>
					<div class="mb-5">
						<ul>
							<li>Online Skill test in Basic Python & Shell Scripting </li>
							<li>Psychometric Tests </li>
							<li>KYC Verification  </li>
							<li>Background Check  </li>
							<li>Statement of Purpose </li>
							
						</ul>
					</div>

					<h3 class="course_detail_heading heading_with_underline"> Most-Extensive Tool Coverage  </h3>

		<div class="row">
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="fa fa-check-circle" src="{% static 'cybervidyapeeth/images/tools/security-onion.jpg' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="fa fa-check-circle" src="{% static 'cybervidyapeeth/images/tools/kali-linux-min.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/aws-min.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/wireshark-min.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/metasploit.webp' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/nmap.webp' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/ubuntu.webp' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/burpsuite.webp' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/python-min.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/rust-min.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/traceroute.png' %}" /></div>
			</div>
			<div class="col-6 col-sm-2 col-md-2 mb-3 p-2">
				<div class="logos_container"><img class="" src="{% static 'cybervidyapeeth/images/tools/aircrack-ng.png' %}" /></div>
			</div>

			<!--

				bloodhound active directory
				cobalt strike
				virulent python - add in logo
				idapro
				pacu
				wordpress exploit framework
				KQL
				zgrab
				s3viewer
				maltego
				powersploit
				FalconStrike

			 -->


		</div>

			</div>
		</div>
	</div>
</div>

{% endblock base_block %}