{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
 
	<title> Course - Anthropology - Vajiram and Ravi</title>
  <meta name="description" content="Course - Anthropology - Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Course - Anthropology </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
      <p><strong>Paper - I</strong></p>
      

<p>1.1 Meaning, scope and development of Anthropology.</p>

<p>1.2 Relationships with other disciplines: Social Sciences, Behavioural Sciences, Life Sciences, Medical Sciences, Earth Sciences and Humanities.</p>

<p>1.3 Main branches of Anthropology, their scope and relevance:</p>
<p>1. Social- cultural Anthropology.</p>
<p>2. Biological Anthropology.</p>
<p>3. Archaeological Anthropology.</p>
<p>4. Linguistic Anthropology.</p>

<p>1.4 Human Evolution and emergence of Man:</p>
<p>1. Biological and Cultural factors in human evolution.</p>
 <p>2.  Theories of Organic Evolution (Pre- Darwinian, Darwinian and Post-Darwinian).</p>
<p>3. Synthetic theory of evolution; Brief outline of terms and concepts of evolutionary biology (Doll’s rule, Cope’s rule, Gause’s rule, parallelism,
 convergence, adaptive radiation, and mosaic evolution).</p>

<p>1.5 Characteristics of Primates; Evolutionary Trend and Primate Taxonomy; Primate Adaptations; (Arboreal and Terrestrial) Primate Taxonomy; 
  Primate Behaviour; Tertiary and Quaternary fossil primates; Living Major Primates; Comparative Anatomy of Man and Apes; Skeletal changes due to erect posture and its implications.
</p>

<p>1.6 Phylogenetic status, characteristics and geographical distribution of the following:</p>
<p>1. Social Sciences, Behavioural Sciences, Life Sciences, Medical Sciences, Earth Sciences and Humanities.</p>
<p>2. Homo erectus: Africa (Paranthropus), Europe (Homo erectus heidelbergensis), Asia (Homo erectus javanicus, Homo erectus pekinensis).</p>
<p>3. Neanderthal Man- La-Chapelle-aux-saints (Classical type), Mt. Carmel (Progressive type).</p>
<p>4. Rhodesian man.</p>
<p>5. Homo sapiens — Cromagnon, Grimaldi and Chancelede.</p>

<p>1.7 The biological basis of life: The Cell, DNA structure and replication, Protein Synthesis, Gene, Mutation, Chromosomes, and Cell Division.</p>

<p>1.8</p>
<P>1. Principles of Prehistoric Archaeology. Chronology: Relative and Absolute Dating methods.</P>
<p>2. Cultural Evolution- Broad Outlines of Prehistoric cultures:</p>
<p>1. Paleolithic</p>
<p>2. Mesolithic</p>
<p>3. Neolithic</p>
<p>4. Chalcolithic</p>
<p>5. Copper-Bronze Age</p>
<p>6. Iron Age</p>

<p>2.1 The Nature of Culture: The concept and characteristics of culture and civilization; Ethnocentrism vis-à-vis cultural Relativism.</p>

<p>2.2 The Nature of Society: Concept of Society; Society and Culture; Social Institutions; Social groups; and Social stratification.</p>

<p>2.3 Marriage: Definition and universality; Laws of marriage (endogamy, exogamy, hypergamy, hypogamy, incest taboo); Types of marriage (monogamy, polygamy, polyandry, group marriage). 
  Functions of marriage; Marriage regulations (preferential, prescriptive and proscriptive); Marriage payments (bride wealth and dowry).</p>

<p>2.4 Family: Definition and universality; Family, household and domestic groups; functions of family; Types of family (from the perspectives of structure, blood relation, marriage,
 residence and succession); Impact of urbanization, industrialization and feminist movements on family.</p>

<p>2.5 Kinship: Consanguinity and Affinity; Principles and types of descent (Unilineal, Double, Bilateral, Ambilineal); Forms of descent groups (lineage, clan, phratry, moiety and kindred); 
  Kinship terminology (descriptive and classificatory); Descent, Filiation and Complimentary Filiation; Descent and Alliance.</p>

<p>3. Economic organization: Meaning, scope and relevance of economic anthropology; Formalist and Substantivist debate; Principles governing production, distribution and exchange
 (reciprocity, redistribution and market), in communities, subsisting on hunting and gathering, fishing, swiddening, pastoralism, horticulture, and agriculture; globalization and 
 indigenous economic systems.</p>

<p>4. Political organization and Social Control: Band, tribe, chiefdom, kingdom and state; concepts of power, authority and legitimacy; social control, law and justice in simple societies.</p>

<p>5. Religion: Anthropological approaches to the study of religion (evolutionary, psychological and functional); monotheism and polytheism; sacred and profane; myths and rituals; forms of religion in tribal and peasant societies (animism, animatism, fetishism, naturism and totemism); religion, magic and science distinguished; magico- religious functionaries (priest, shaman, medicine man, sorcerer and witch).</p>

<p>6. Anthropological theories:</p>
<p>1. Classical evolutionism (Tylor, Morgan and Frazer)</p>
<p>2. Historical particularism (Boas); Diffusionism (British, German and American)</p>
<p>3. Functionalism (Malinowski); Structural- functionlism (Radcliffe-Brown)</p>
<p>4. Structuralism (L’evi – Strauss and E. Leach)</p>
<p>5. Culture and personality (Benedict, Mead, Linton, Kardiner and Cora – du Bois).</p>
<p>6. Neo – evolutionism (Childe, White, Steward, Sahlins and Service)</p>
<p>7. Cultural materialism (Harris)</p>
<p>8. Symbolic and interpretive theories (Turner, Schneider and Geertz)</p>
<p>9. Cognitive theories (Tyler, Conklin)</p>
<p>10.  Post- modernism in anthropology</p>

<p>7. Culture, language and communication: Nature, origin and characteristics of language; verbal and non-verbal communication; social context of language use.</p>

<p>8. Research methods in anthropology:</p>
<p>1. Fieldwork tradition in anthropology</p>
<p>2. Distinction between technique, method and methodology</p>
<p>3. Tools of data collection: observation, interview, schedules, questionnaire, Case study, genealogy, life-history, oral history, secondary sources of information, participatory methods.</p>
<p>4. Analysis, interpretation and presentation of data.</p>

<p>9.1 Human Genetics – Methods and Application: Methods for study of genetic principles in man-family study (pedigree analysis, twin study, foster child, co-twin method, cytogenetic method, chromosomal and karyo-type analysis), biochemical methods, immunological methods, D.N.A. technology and recombinant technologies.</p>

<p>9.2 Mendelian genetics in man-family study, single factor, multifactor, lethal, sub-lethal and polygenic inheritance in man.</p>

<p>9.3 Concept of genetic polymorphism and selection, Mendelian population, Hardy-Weinberg law; causes and changes which bring down frequency – mutation, isolation, migration, selection, inbreeding and genetic drift. Consanguineous and non-consanguineous mating, genetic load, genetic effect of consanguineous and cousin marriages.</p>

<p>9.4 Chromosomes and chromosomal aberrations in man, methodology.</p>
<p>1. Numerical and structural aberrations (disorders).</p>
<p>2. Sex chromosomal aberrations – Klinefelter (XXY), Turner (XO), Super female (XXX), intersex and other syndromic disorders.</p>
<p>3. Autosomal aberrations – Down syndrome, Patau, Edward and Cri-du-chat syndromes.</p>
<p>4. Genetic imprints in human disease, genetic screening, genetic counseling, human DNA profiling, gene mapping and genome study.</p>

<p>9.5 Race and racism, biological basis of morphological variation of non-metric and metric characters. Racial criteria, racial traits in relation to heredity and environment; biological basis of racial classification, racial differentiation and race crossing in man.</p>

<p>9.6 Age, sex and population variation as genetic marker- ABO, Rh blood groups, HLA Hp, transferring, Gm, blood enzymes.
Physiological characteristics-Hb level, body fat, pulse rate, respiratory functions and sensory perceptions in different cultural and socio-economic groups.</p>
<p>9.7 Concepts and methods of Ecological Anthropology. Bio-cultural Adaptations – Genetic and Non- genetic factors. Man’s physiological responses to environmental stresses: hot desert, cold, high altitude climate.</p>

<p>9.8 Epidemiological Anthropology: Health and disease. Infectious and non-infectious diseases. Nutritional deficiency related diseases.</p>

<p>10. Concept of human growth and development: stages of growth – pre-natal, natal, infant, childhood, adolescence, maturity, senescence.
Factors affecting growth and development genetic, environmental, biochemical, nutritional, cultural and socio-economic.
Ageing and senescence. Theories and observations – biological and chronological longevity. Human physique and somatotypes. Methodologies for growth studies.</p>

<p>11.1 Relevance of menarche, menopause and other bioevents to fertility. Fertility patterns and differentials.</p>

<p>11.2 Demographic theories- biological, social and cultural.</p>

<p>11.3 Biological and socio-ecological factors influencing fecundity, fertility, natality and mortality.</p>

<p>12. Applications of Anthropology: Anthropology of sports, Nutritional anthropology, Anthropology in designing of defence and other equipments, Forensic Anthropology, Methods and principles of personal identification and reconstruction, Applied human genetics – Paternity diagnosis, genetic counseling and eugenics, DNA technology in diseases and medicine, serogenetics and cytogenetics in reproductive biology.</p>


<p><strong>Paper - II</strong></p>

<p>1.1 Evolution of the Indian Culture and Civilization — Prehistoric (Palaeolithic, Mesolithic, Neolithic and Neolithic – Chalcolithic).</p>

<p> Protohistoric (Indus Civilization): Pre- Harappan, Harappan and post- Harappan cultures.Contributions of tribal cultures to Indian civilization.</p>

<p>1.2 Palaeo – anthropological evidences from India with special reference to Siwaliks and Narmada basin (Ramapithecus, Sivapithecus and Narmada Man).</p>

<p>1.3 Ethno-archaeology in India: The concept of ethno-archaeology; Survivals and Parallels among the hunting, foraging, fishing, pastoral and peasant communities including arts and crafts producing communities.</p>

<p>2. Demographic profile of India — Ethnic and linguistic elements in the Indian population and their distribution. Indian population – factors influencing its structure and growth.</p>

<p>3.1 The structure and nature of traditional Indian social system — Varnashram, Purushartha, Karma, Rina and Rebirth.</p>

<p>3.2 Caste system in India- structure and characteristics, Varna and caste, Theories of origin of caste system, Dominant caste, Caste mobility, Future of caste system, Jajmani system, Tribe- caste continuum.</p>

<p>3.3 Sacred Complex and Nature- Man- Spirit Complex.</p>

<p>3.4 Impact of Buddhism, Jainism, Islam and Christianity on Indian society.</p>

<p>4. Emergence and growth of anthropology in India-Contributions of the 18th, 19th and early 20th Century scholar-administrators. Contributions of Indian anthropologists to tribal and caste studies.</p>

<p>5.1 Indian Village: Significance of village study in India; Indian village as a social system; Traditional and changing patterns of settlement and inter-caste relations; Agrarian relations in Indian villages; Impact of globalization on Indian villages.</p>

<p>5.3 Indigenous and exogenous processes of socio-cultural change in Indian society: Sanskritization, Westernization, Modernization; Inter-play of little and great traditions; Panchayati raj and social change; Media and social change.</p>

<p>6.1 Tribal situation in India – Bio-genetic variability, linguistic and socio-economic characteristics of tribal populations and their distribution.</p>

<p>6.2 Problems of the tribal Communities — land alienation, poverty, indebtedness, low literacy, poor educational facilities, unemployment, underemployment, health and nutrition.</p>

<p>6.3 Developmental projects and their impact on tribal displacement and problems of rehabilitation. Development of forest policy and tribals. Impact of urbanization and industrialization on tribal populations.</p>

<p>7.1 Problems of exploitation and deprivation of Scheduled Castes, Scheduled Tribes and Other Backward Classes. Constitutional safeguards for Scheduled Tribes and Scheduled Castes.</p>

<p>7.2 Social change and contemporary tribal societies: Impact of modern democratic institutions, development programmes and welfare measures on tribals and weaker sections.</p>

<p>7.3 The concept of ethnicity; Ethnic conflicts and political developments; Unrest among tribal communities; Regionalism and demand for autonomy; Pseudo-tribalism; Social change among the tribes during colonial and post-Independent India.</p>

<p>8.1 Impact of Hinduism, Buddhism, Christianity, Islam and other religions on tribal societies.</p>

<p>8.2 Tribe and nation state - a comparative study of tribal communities in India and other countries.</p>

<p>9.1 History of administration of tribal areas, tribal policies, plans, programmes of tribal development and their implementation. The concept of PTGs (Primitive Tribal Groups), their distribution, special programmes for their development. Role of N.G.O.s in tribal development.</p>

<p>9.2 Role of anthropology in tribal and rural development.</p>

<p>9.3 Contributions of anthropology to the understanding of regionalism, communalism, and ethnic and political movements.</p>

  
    </div>
  </div>
{% endblock base_block %}