{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Course - Commerce - Vajiram and Ravi</title>
  <meta name="description" content="Course - Commerce - Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Course - Commerce  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
  
		
<p><strong>Paper - I: Accounting and Finance</strong></p>

<p><strong>Accounting, Taxation &amp; Auditing</strong></p>

<p><strong>1. Financial Accounting:</strong> Accounting as a Financial Information System; Impact of Behavioural Sciences. Accounting Standards e.g., Accounting for Depreciation,
 Inventories, Research and Development Costs, Long-term Construction Contracts, Revenue Recognition, Fixed Assets, Contingencies, Foreign Exchange Transactions, Investments and Government Grants, 
 Cash Flow Statement, Earnings Per Share. Accounting for Share Capital Transactions including Bonus Shares, Right Shares, Employees Stock Option and Buy- Back of Securities. 
 Preparation and Presentation of CompanyFinal Accounts. Amalgamation, Absorption and Reconstruction of Companies.</p>

<p><strong>2. Cost Accounting:</strong> Nature and Functions of Cost Accounting. Installation of Cost Accounting System. Cost Concepts related to Income Measurement, 
	Profit Planning, Cost Control and Decision Making.</p>

<p><strong>Methods of Costing:</strong> Job Costing, Process Costing, Activity Based Costing. Volume – cost – Profit Relationship as a tool of Profit Planning.</p>

<p>Incremental Analysis/ Differential Costing as a Tool of Pricing Decisions, Product Decisions, Make or Buy Decisions, ShutDown Decisions etc. Techniques of Cost Control and Cost Reduction: 
	Budgeting as a Tool of Planning and Control. Standard Costing and Variance Analysis. Responsibility Accounting and Divisional Performance Measurement.</p>

<p><strong>3. Taxation :</strong> Income Tax: Definitions; Basis of Charge; Incomes which do not form Part of Total Income. Simple problems of Computation of Income (of Individuals only)
 under Various Heads, i.e., Salaries, Income from House Property, Profits and Gains from Business or Profession, Capital Gains, Income from other sources, Income of other Persons included 
 in Assessee’s Total Income .<br>Set – Off and Carry Forward of Loss.Deductions from Gross Total Income.<br>Salient Features/Provisions Related to VAT and Services Tax.</p>

<p><strong>4. Auditing :</strong> Company Audit: Audit related to Divisible Profits, Dividends, Special investigations, Tax audit. Audit of Banking, Insurance, Non-Profit Organizations
 and Charitable Societies/ Trusts/Organizations.</p>

<p><strong>Financial Management, Financial Institutions and Markets</strong></p>

<p><strong>1. Financial Management:</strong></p>

<p><strong>Finance Function:</strong> Nature, Scope and Objectives of Financial Management: Risk and Return Relationship.</p>

<p><strong>Tools of Financial Analysis:</strong> Ratio Analysis, Funds-Flow and Cash-Flow Statement.Capital Budgeting Decisions: Process, Procedures and Appraisal Methods. 
	Risk and Uncertainty Analysis and Methods.</p>

<p><strong>Cost of capital:</strong> Concept, Computation of Specific Costs and Weighted Average Cost of Capital. CAPM as a Tool of Determining Cost of Equity Capital.</p>

<p><strong>Financing Decisions:</strong> Theories of Capital Structure – Net Income (NI) Approach, Net Operating Income (NOI) Approach, MM Approach and Traditional Approach.
 Designing of Capital structure: Types of Leverages (Operating, Financial and Combined) EBIT- EPS Analysis, and other Factors.</p>

<p><strong>Dividend Decisions and Valuation of Firm:</strong> Walter’s Model, MM Thesis, Gordan’s Model Lintner’s Model. 
	Factors Affecting Dividend Policy.Working Capital Management: Planning of Working Capital. Determinants of Working Capital. 
	Components of Working Capital – Cash, Inventory and Receivables. 
	Corporate Restructuring with focus on Mergers and Acquisitions (Financial aspects only)</p>

<p><strong>2. Financial Markets and Institutions:</strong></p>

<p>Indian Financial System: An Overview </p>

<p>Money Markets: Participants, Structure and Instruments. Commercial Banks. Reforms in banking sector.
 Monetary and Credit Policy of RBI. RBI as a Regulator.</p>

<p>Capital Market: Primary and Secondary Market. Financial Market Instruments and Innovative Debt Instruments; SEBI as a Regulator.</p>

<p>Financial Services: Mutual Funds, Venture Capital, Credit Rating Agencies, Insurance and IRDA.</p>

<p><strong>PAPER-II</strong></p>

<p>Organisation Theory and Behaviour, Human Resource Management and Industrial Relations Organisation Theory and Behaviour</p>

<p><strong>1. Organisation Theory:</strong></p>

<p>Nature and Concept of Organisation: Nature and Concept, External Environment of Organizations -Technological, Social, Political, Economic and Legal;
 Organizational Goals – Primary and Secondary goals, Single and Multiple Goals; Management by Objectives.</p>

<p>Evolution of Organisation Theory: Classical, Neo-classical and Systems Approach. Modern Concepts of Organisation Theory: Organisational Design, Organisational Structure and Organisational Culture. Organisational Design–Basic Challenges; Differentiation and Integration Process; Centralization and Decentralization Process; Standardization / Formalization and Mutual Adjustment. Coordinating Formal and Informal Organizations. Mechanistic and Organic Structures. Designing Organizational structures–Authority and Control; Line and Staff Functions, Specialization and Coordination. Types of Organization Structure –Functional. Matrix Structure, Project Structure. Nature and Basis of Power ,
 Sources of Power, Power Structure and Politics. Impact of Information Technology on Organizational Design and Structure.</p>
 <p>Managing Organizational Culture.</p>

<p><strong>2. Organisation Behaviour:</strong></p>

<p>Meaning and Concept; Individual in organizations: Personality, Theories, and Determinants; Perception - Meaning and Process. Motivation: Concepts, Theories and Applications. Leadership-Theories and Styles. Quality of Work Life (QWL): Meaning and its impact on Performance, Ways of its En-hancement. Quality Circles (QC) – Mean-ing and their Importance. Management of Conflicts in Organizations.
 Transactional Analysis, Organizational Effectiveness, Management of Change.</p>

<p><strong>Human Resources Management and Industrial Relations</strong></p>

<p><strong>1.Human Resources Management(HRM):</strong></p>
 <p>Meaning, Nature and Scope of HRM, Human Resource Planning, Job Analysis, Job Description, Job Specification, 
 Recruitment Process, Selection Process, Orientation and Placement, Training and Development Process, Performance 
 Appraisal and 360° Feed Back, Salary and Wage Administration, Job Evaluation, Employee Welfare, Promotions, Transfers and Separations.</p>

<p><strong>2. Industrial Relations (IR):</strong> </p>
	<p>Meaning, Nature, Importance and Scope of IR, Formation of Trade Unions, Trade Union Legislation, Trade Union Movement. 
	in India. Recognition of Trade Unions, Problems of Trade Unions in India. Impact of Liberalization on Trade Union Movement. 
	Nature of Industrial Disputes: Strikes and Lockouts, Causes of Disputes, Prevention and Settlement of Disputes.
	Worker’s Participation in Management: Philosophy, Rationale, Present Day Status and Future Prospects.Adjudication and Collective Bargaining.
	Industrial Relations in Public Enterprises, Absenteeism and Labour Turnover in Indian Industries and their Causes and Remedies.
	 ILO and its Functions.</p>
    </div>
  </div>
{% endblock base_block %}