{% extends 'website/base.html' %}
{% load static%}
{% block base_meta_block %}
	<!-- This Block Needs to be on every page of the Website -->
	<title> Trainings @ Cyber Vidyapeeth </title>
	<meta name="keywords" content="Trainings @ Cyber Vidyapeeth " />
	<meta name="description" content="Trainings @ Cyber Vidyapeeth " />
{% endblock%}

{% block base_head_block %}
{% endblock base_head_block %}
{% block base_block %}
<div class="inner_page_intro_header">
	<div class="shadeoverlay"></div>
	<div class="container">
		<div class="content">
			<h1 class="">Cyber Defense Engineering Trainings </h1>
			<p class="fs-4">for Working Professionals</p>
		</div>
	</div>
</div>
<div class="container py-5 page_content">

	<div class="row " >

		<div class="col-md-4 col-lg-3 mb-4">
			<div class="card mega_course_card h-100" style="">
				<img src="{% static 'cybervidyapeeth/images/certified-5g-cyber-rakshak.jpg' %}" class="card-img-top" style="height: 160px;"style="height: 160px;" alt="...">
				<div class="card-body">
					<h5 class="card-title"> CYBERVERSITY CERTIFIED 5G CYBER RAKSHAK </h5>
					<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
				<a href="" class="card-footer-btn d-none btn ">
					See Details
				</a>

			</div>
		</div>

		<div class="col-md-4 col-lg-3 mb-4">
			<div class="card mega_course_card h-100" >
				<img src="{% static 'cybervidyapeeth/images/insider-threat-rakshak.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
				<div class="card-body">
					<h5 class="card-title"> CYBERVERSITY CERTIFIED INSIDER THREAT RAKSHAK </h5>
					<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
				<a href="" class="card-footer-btn d-none btn ">
					See Details
				</a>

			</div>
		</div>



			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/nist-csf-gyani.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED NIST CSF GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>



			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/threat--intel-expert.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED THREAT INTEL GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>



			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/iec-62443.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY  CERTIFIED IEC 62443 GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>


			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/nist-sp.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY  CERTIFIED NIST SP 800:82 GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/cloud-cyber.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED CLOUD CYBER RAKSHAK </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/cyber-rakshak.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED CYBER RAKSHAK </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/defend.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED MITRE D3FEND GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/nist-80053.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title"> CYBERVERSITY CERTIFIED NIST 800:53 GYANI </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			{% comment %}
			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/nist-80053.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title">CYBERVERSITY CERTIFIED ZERO TRUST NETWORK EXPERT </h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card mega_course_card h-100" >
					<img src="{% static 'cybervidyapeeth/images/nist-80053.jpg' %}" class="card-img-top" style="height: 160px;"alt="...">
					<div class="card-body">
						<h5 class="card-title">CYBERVERSITY CERTIFIED ISO 27019 EXPERT</h5>
						<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
					</div>
					<a href="" class="card-footer-btn d-none btn ">
						See Details
					</a>

				</div>
			</div>
			{% endcomment %}


	</div>
</div>
{% endblock base_block %}