{% extends 'website/base.html' %}

{% block base_meta_block %}
	<!-- This Block Needs to be on every page of the Website -->
	<title> Cyber Vidyapeeth </title>
	<meta name="keywords" content="Cyber Vidyapeeth " />
	<meta name="description" content="Cyber Vidyapeeth " />
{% endblock%}

{% block base_head_block %}
{% endblock base_head_block %}
{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> About Cybervidyapeeth  </h1>
      <!-- <h2 class=""> by Vajiram &amp; Ravi  </h2> -->
    </div>
  </div>
</div>

<div class="container py-5 page_content">
	<ul class="page_content_ul page_content_ul_with_icon" style="list-style: none;">
							<li class=""><i aria-hidden="true" class="fas fa-check-circle" style="color: #4caf50; font-size: 20px; "></i> 
								Cyber Vidyapeeth Foundation or CyberVersity has been up with focus on Education, Research and Training on Advanced Cyber Defense.
							</li>

							<li class=""><i aria-hidden="true" class="fas fa-check-circle" style="color: #CC9933; font-size: 20px; "></i> 
								CyberVersity is committed to creating a million Cyber Rakshak over next five years.
							</li>

							<li class=""><i aria-hidden="true" class="fas fa-check-circle" style="color: #CC9933; font-size: 20px; "></i> 
								CyberVersity team consist of  Cyber Engineering / Defense   Professionals from domains covering national defense, education, cyber defense &amp; Cyber Offense Capability.
							</li>

							<li class=""><i aria-hidden="true" class="fas fa-check-circle" style="color: #CC9933; font-size: 20px; "></i> 
								CyberVersity is all set to serve Bharat  and exhorts all Cyber Professionals, Academia and organizations to join its mission of Cyber Resilient Bharat.
							</li>

							<li class=""><i aria-hidden="true" class="fas fa-check-circle" style="color: #CC9933; font-size: 20px; "></i> 
								Do join us to see our common dream of “Cyber Resilient Bharat with Deep Cyber Offensive Capabilities.”
							</li>

						</ul>
</div>

{% endblock base_block %}