{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Essay Course for UPSC CSE  </title>
	<meta name="description" content=" Essay Course for UPSC CSE" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Essay Course for UPSC CSE  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
    	<p>The Essay module by Vajiram and Ravi is a one-stop solution for obtaining the skills and content
needed to ace the paper. Its goal is to teach aspirants how to identify and interpret essay topics,
how to write persuasively and coherently, and to offer them with Essay-relevant knowledge that
serves as a framework for preparing for the Essay paper&#39;s requirements.</p>
<h3>Commencement Date -</h3>
<ul>
	<li> Mode – Online / Offline </li>
	<li> Faculty – Brijendra Singh </li>
	<li> Fees – 9000 (Exclusive of GST) </li>
	<li> Duration – 2 Months </li>
</ul>
<h3>Salient Features: </h3>

<ul>
	<li>
		Content lectures on a variety of essay themes, including reflective essays, gender-
related concerns, contemporary international relations, and improving writing skills,
among others.
</li>
<li>Mini assignments during the class, to reinforce the concepts. </li>

<li>Detailed handouts for each class that contain comprehensive content (theory, data,
examples, quotations, and so on) to serve as a repository of information.</li>
<li>3 model tests on the UPSC Mains Essay Paper format, followed by discussions.</li>
<li>Detailed evaluation of answer scripts using standardized criteria to accurately
identify areas for improvement.</li>
</ul>

    </div>
</div>
{% endblock base_block %}