{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Courses for Geography Optional Subject - Vajiram and Ravi</title>
  <meta name="description" content="Courses for Geography Optional Subject- Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">  Courses for Geography Optional Subject </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
			
<p><strong>PAPER-I</strong></p>

<p><strong>Principles of Geography</strong></p>

<p><strong>Physical Geography: </strong></p>

<p><strong>1. Geomorphology :</strong> Factors controlling landform development; endogenetic and exogenetic forces; Origin and evolution of the earth’s crust; Fundamentals of geomagnetism; 
	Physical conditions of the earth’s interior; Geosynclines; Continental drift; Isostasy; Plate tectonics; Recent views on mountain building; Vulcanicity; Earthquakes and Tsunamis; 
	Concepts of geomorphic cycles and Landscape development ; Denudation chronology; Channel morphology; Erosion surfaces; Slope development ;
	Appl ied Geomorphology: Geohydrology, economic geology and environment</p>

<p><strong>2. Climatology : </strong>Temperature and pressure belts of the world; Heat budget of the earth; Atmospheric circulation; atmospheric stability and instability. 
	Planetary and local winds; Monsoons and jet streams; Air masses and fronto genesis, Temperate and tropical cyclones; Types and distribution of precipitation; Weather and Climate; 
	Koppen’s, Thornthwaite’s and Trewartha’s classification of world climates; Hydrological cycle; 
	Global climatic change and role and response of man in climatic changes, Applied climatology and Urban climate.</p>

<p><strong>3. Oceanography :</strong> Bottom topography of the Atlantic, Indian and Pacific Oceans; Temperature and salinity of the oceans;
       Heat and salt budgets, Ocean deposits; Waves, currents and tides; Marine resources: biotic, mineral and energy resources; 
       Coral reefs, coral bleaching; sealevel changes; law of the sea and marine pollution.</p>

<p><strong>4. Biogeography : </strong> Genesis of soils; Classification and distribution of soils; Soil profile; Soil erosion, Degradation and conservation; 
	Factors influencing world distribution of plants and animals; Problems of deforestation and conservation measures; Social forestry; agro-forestry; Wild life; Major gene pool centres.</p>

<p><strong>5. Environmental Geography :</strong> Principle of ecology; Human ecological adaptations; Influence of man on ecology and environment ; 
	Global and regional ecological changes and imbalances; Ecosystem their management and conservation; Environmental degradat ion, management and conservation; 
	Biodiversity and sustainable development; Environmental policy; Environmental hazards and remedial measures; Environmental education and legislation.</p>

<p><strong>Human Geography: </strong></p>

<p><strong>1. Perspectives in Human Geography :</strong> Areal differentiation; regional synthesis; Dichotomy and dualism; 
	Environmentalism; Quant i tat ive revolut ion and locat ional analysis; radical, behavioural, human and welfare approaches; Languages, religions and secularisation; 
	Cultural regions of the world; Human development index.</p>

<p><strong>2. Economic Geography :</strong> World economic development: measurement and problems; World resources and their distribution; Energy crisis; 
	the limits to growth; World agriculture: typology of agricultural regions; agricultural inputs and productivity; Food and nutrition problems; 
	Food security; famine: causes, effects and remedies; World industries: locational patterns and problems; patterns of world trade.</p>

<p><strong>3. Population and Settlement Geography :</strong> Growth and distribution of world population; demographic attributes; Causes and consequences of migration; 
	concepts of over – under-and optimum population; Population theories, world population problems and policies, Social well-being and quality of life; 
	Population as social capital. Types and patterns of rural settlements; Environmental issues in rural settlements; Hierarchy of urban settlements; 
	Urban morphology: Concepts of primate city and rank-size rule; Functional classification of towns; Sphere of urban influence; Rural – urban fringe; Satellite towns;
	 Problems and remedies of urbanization; Sustainable development of cities.</p>

<p><strong>4. Regional Planning :</strong> Concept of a region; types of regions and methods of regionalisation; growth centres and growth poles; regional imbalances; 
	environmental issues in regional planning; planning for sustainable development.</p>

<p><strong>5. Models, Theories and Laws in Human Geography :</strong> System analysis in Human Geography; Malthusian, Marxian and Demographic Transition models; 
	Central Place theories of Christaller and Losch; Von Thunen’s model of agricultural location; Weber’s model of industrial location; 
	Rostov’s model of stages of growth. Heart-land and Rimland theories; laws of international boundaries and frontiers.</p>

<p><strong>NOTE :</strong> Candidates will be required to answer one compulsory map question pertinent to subjects covered by this paper.</p>

<p><strong>PAPER-II</strong></p>

<p><strong>Geography Of India</strong></p>
	<p><strong>1. Physical Setting:</strong> Space relationship of India with neighboring countries; Structure and relief; Drainage system and watersheds;
 Physiographic regions; Mechanism of Indian monsoons and rainfall patterns, Tropical cyclones and western distur – bances; Floods and droughts; Climatic regions; 
 Natural vegetation; Soil types and their distributions.</p>

<p><strong>2. Resources:</strong> Land, surface and ground water, energy, minerals, biotic and marine resources; Forest and wild life resources and their conservation; Energy crisis.</p>

<p><strong>3. Agriculture:</strong> Infrastructure: irrigation, seeds, fertilizers, power; Institutional factors: land holdings, land tenure and land reforms; 
	Cropping pattern, agricultural productivity, agricultural intensity, crop combination, land capability; Agro and socialforestry; Green revolution and its socioeconomic and ecological implications;
	 Significance of dry farming; Livestock resources and white revolution; aqua – culture; sericulture, apiculture and poultry; agr icul tural regional isat ion; 
	 agro-cl imat ic zones; agro- ecological regions.</p>

<p><strong>4 . Industry :</strong> Evolution of industries ; Locational factors of cotton, jute, textile, iron and steel, aluminium, fertilizer, paper, chemical and pharmaceutical,
 automobile, cottage and agro-based industries; Industrial houses and complexes including public sector undertakings; Industrial regionalisation; New industrial policies; Multinationals and liberalization; 
 Special Economic Zones; Tourism including eco -tourism.</p>

<p><strong>5. Transport, Communication and Trade:</strong> Road, railway, waterway, airway and pipeline networks and their complementary roles in regional development; 
	Growing importance of ports on national and foreign trade; Trade balance; Trade Policy; Export processing zones; Developments in communication and information technology and their impacts on economy and society;
	 Indian space programme.</p>

<p><strong>6. Cultural Setting:</strong> Historical Perspective of Indian Society; Racial, linguistic and ethnic diversities; religious minorities; major tribes, tribal areas and their problems; 
	cultural regions; Growth, distribution and density of population; Demographic attributes: sex-ratio, age structure, literacy rate, work-force, dependency ratio, longevity;
	 migration (inter-regional, intra- regional and international) and associated problems; Population problems and policies; Health indicators.</p>

<p><strong>7. Settlements:</strong> Types, patterns and morphology of rural settlements; Urban developments; Morphology of Indian cities; Functional cla ssification of Indian cities ; 
	Conurbations and metropolitan regions; urban sprawl; Slums and associated problems; town planning; Problems of urbanization and remedies.</p>

<p><strong>8. Regional Development and Planning:</strong> Experience of regional planning in India; Five Year Plans; Integrated rural development programmes; Panchayati Raj and decentralised planning;
 Command area development; Watershed management; Planning for backward area ,desert , drought prone, hill, tribal area development; multi-level planning;
  Regional planning and development of island territories.</p>

<p><strong>9. Political Aspects:</strong> Geographical basis of Indian federalism; State reorganisation; Emergence of new states; Regional consciousness and inter state issues; 
	international boundary of India and related issues; Cross border terrorism; India’s role in world affairs; Geopolitics of South Asia and Indian Ocean realm.</p>

<p><strong>10. Contemporary Issues:</strong> Ecological issues: Environmental hazards: landslides earth quakes , Tsunamis , floods and droughts, epidemics; Issues relating to environmental pollution;
 Changes in patterns of land use; Principles of environmental impact assessment and environmental management; Population explosion and food security; 
 Environmental degradation; Deforestation, desertification and soil erosion; Problems of agrarian and industrial unrest; Regional disparities in economic development ; 
 Concept of sustainable growth and development; Environmental awareness; Linkage of rivers; Globalisation and Indian economy.</p>

<p><strong>NOTE : </strong>Candidates will be required to answer one compulsory map question pertinent to subjects covered by this paper</p>
    </div>
  </div>
{% endblock base_block %}