{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> History Optional Subject for UPSC - Preparation and Strategy </title>
  <meta name="description" content="History Optional Subject for UPSC - Preparation and Strategy- Vajiram & Ravi " />

{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> History Optional Subject for UPSC - Preparation and Strategy  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">

    	<p>History is not a subject it’s an experience. It is the study of political, economic, social and cultural
			evolution of mankind within the fabric of time and space. While studying history we understand
			formation and evolution of: </p>
			<ul>
				<li>
			Political (Nature and evolution of state, politico-administrative systems, ideology of state and judicial
			character, military and statecraft etc.);
			</li>
			<li>
			Social (nature, organisation, institutions, code of conduct etc.);
			</li>
			<li>
			Economic (Mode of production, pattern of distribution, economic administration etc.);
			</li>
			<li>
			Cultural (Science and technology, religion and ideology, art and architecture) life of man.</li>
			<li>
			With Map work and spatial geography forming the basis of history it’s an ocean of knowledge which
			touches every aspect of human life.</li>
			</ul>

			<p>
			If we consider General studies which comprises of:</p>
			<ol>
				<li>Paper 1 - History, society, Geography;</li>
				<li>Paper 2 - polity, administration and international relation;</li>
				<li>Paper 3 - Economy, science and technology;</li>
				<li>Paper 4 - philosophy and psychology.</li>
			</ol>
			<p>
			We see that every aspect of GS is covered in someway or the other by history. History enables us to
			understand and analyse contemporary developments that are taking place. It connects the past to the
			present. The opinions formed are not mere conjectures but have a historical basis. Therefore the subject
			is described as the mother of all social sciences.</p>
			<p>
			Apart from the academic excellence the subject offers the following advantages considering the Upsc
			examination:</p>
			<ol>
			 	<li>Closed ended static subject.</li>
				<li>Well defined precise syllabus making it a safe optional.</li>
				<li>Compatible with any academic background.</li>
				<li>Compulsory in General studies.</li>
				<li>Easy and scoring.</li>
				<li>Interesting.</li>
			</ol>
			<p>
			As Theodore Roosevelt once quoted <i>“The more you know about the past, the better prepared you are
			for the future.”</i>
			<p>
			<strong>All the best!</strong>
			</p>

    </div>
  </div>
{% endblock base_block %}