{% extends 'website/base.html' %}
{% load static%}
{% block base_meta_block %}
	<!-- This Block Needs to be on every page of the Website -->
	<title> Cyber Vidyapeeth </title>
	<meta name="keywords" content="Cyber Vidyapeeth " />
	<meta name="description" content="Cyber Vidyapeeth " />
{% endblock%}

{% block base_head_block %}
{% endblock base_head_block %}
{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> <span class="text-warning"> Internship cum Training</span> @ Cybervidyapeeth</h1>
    </div>
  </div>
</div>
<div class="container py-5 page_content">

	<p>
		Cyberversity Internship Program exhort students from Technology Stream  across world to join us four 4-12 months of Intensive Training & Research program in Cyber Defense covering research project in pain area of Cyber Resilience, Attack Detection, Orchestrated Response covering  but not limited to:
	</p>
	<ul>
		<li> Cloud Security</li>

		<li> Insider Threat</li>

		<li> IEC 62443</li>

		<li> NERC-CIP</li>

		<li> NIST CSF</li>

		<li> NIST SP 800:82</li>

		<li> Threat Intelligence</li>

		<li> Assembly Programming for Exploit Writing & Shell code Dissection’</li>

		<li> Metasploit, working with Meterpreter & use of MSFVenom.</li>

		<li> MITRE ATT&CK Framework</li>

		<li> MITRE D3FEND based Countermeasures</li>

		<li> Malware Reverse Engineering</li>

		<li>Open Source Security</li>

		<li> Penetration Testing of  SCADA System</li>

		<li> IOT/IIOT Security</li>
		<li> 5G Security & NIST</li>

		<li> Vulnerability Discovery </li>

		<li>  DDoS Tool & Traffic Generation</li>

		<li> UEFI Security & Exploit</li>
	</ul>

	<div class="border p-4">
		<div><i class="fa fa-phone"></i> +91 9711147900 </div>
		<div><i class="fa fa-envelope"></i> mentor@cybervidyapeeth.in </div>
	</div>
</div>
{% endblock base_block %}