{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Kurukshetra Magazine PDFs | Download Kurukshetra Online | Free 2018-19 PDF Magazine</title>
  <meta name="description" content="Kurukshetra Magazine, available in PDF format you can download it for Free also you can read online in a single click, Kurukshetra Magazine published every month throughout the year" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">Kurukshetra Magazine Summary   </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
    	<p>
    		Kurukshetra Magazine is a monthly magazine published by the Government of India, as a result, you see the government's view on an issue.
    	</p>
     	<p>
   			<h3> Why should you read Kurukshetra Magazine ? </h3>
     		<ul>
     			<li> <strong> Kurukshetra Magazine </strong> presents <strong>government point of view on issues</strong> and also provide data and analysis for the same.</li>
     			<li>Reading Kurukshetra will help you in Essay writing as these magazines analyzes each topic through <strong>multiple perspectives</strong> by various people of diverse background. </li>
     			<li> <strong> Kurukshetra is a monthly magazine </strong> and covers a good portion of the mains syllabus especially for General Studies. </li>
     			<li>You can also find out information about recently launched government schemes, government initiatives, policy initiatives etc.</li>
     		</ul>
     	</p>
     	<div class=" ">
     			<h3> Download Kurukshetra Magazine Summary </h3>
     			<p> Our strong and experienced team summarizes each issue of the <strong> Kurukshetra Magazine </strong> to help students help in revision. <br/> You can download the Magazine Summary through the links below :  </p>

     			<ul>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-April-2022-Vajiram.pdf" title="Kurukshetra Magazine Summary for April 2022 Issue" > Kurukshetra Magazine Summary for April 2022 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-March-2022-Vajiram.pdf" title="Kurukshetra Magazine Summary for March 2022 Issue" > Kurukshetra Magazine Summary for March 2022 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-February-2022-Vajiram.pdf" title="Kurukshetra Magazine Summary for February 2022 Issue" > Kurukshetra Magazine Summary for February 2022 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-Janaury-2022-Vajiram.pdf" title="Kurukshetra Magazine Summary for January 2022 Issue" > Kurukshetra Magazine Summary for January 2022 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-December-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for December 2021 Issue" > Kurukshetra Magazine Summary for December 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-November-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for November 2021 Issue" > Kurukshetra Magazine Summary for November 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-October-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for October 2021 Issue" > Kurukshetra Magazine Summary for October 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-September-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for September 2021 Issue" > Kurukshetra Magazine Summary for September 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-August-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for August 2021 Issue" > Kurukshetra Magazine Summary for August 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-July-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for July 2021 Issue" > Kurukshetra Magazine Summary for July 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-June-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for June 2021 Issue" > Kurukshetra Magazine Summary for June 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-May-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for May 2021 Issue" > Kurukshetra Magazine Summary for May 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-April-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for April 2021 Issue" > Kurukshetra Magazine Summary for April 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-March-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for March 2021 Issue" > Kurukshetra Magazine Summary for March 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-February-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for February 2021 Issue" > Kurukshetra Magazine Summary for February 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-January-2021-Vajiram.pdf" title="Kurukshetra Magazine Summary for January 2021 Issue" > Kurukshetra Magazine Summary for January 2021 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-December-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for December 2020 Issue" > Kurukshetra Magazine Summary for December 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-November-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for November 2020 Issue" > Kurukshetra Magazine Summary for November 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-October-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for October 2020 Issue" > Kurukshetra Magazine Summary for October 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-September-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for September 2020 Issue" > Kurukshetra Magazine Summary for September 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-August-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for August 2020 Issue" > Kurukshetra Magazine Summary for August 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-July-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for July 2020 Issue" > Kurukshetra Magazine Summary for July 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-June-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for June 2020 Issue" > Kurukshetra Magazine Summary for June 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-May-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for May 2020 Issue" > Kurukshetra Magazine Summary for May 2020 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-April-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for April 2020 Issue" > Kurukshetra Magazine Summary for April 2020 Issue</a> </li>

						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-March-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for March 2020 Issue" > Kurukshetra Magazine Summary for March 2020 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-February-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for February 2020 Issue" > Kurukshetra Magazine Summary for February 2020 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-January-2020-Vajiram.pdf" title="Kurukshetra Magazine Summary for January 2020 Issue" > Kurukshetra Magazine Summary for January 2020 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-December-2019.pdf" title="Kurukshetra Magazine Summary for December 2019 Issue" > Kurukshetra Magazine Summary for December 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_November_2019.pdf" title="Kurukshetra Magazine Summary for November 2019 Issue" > Kurukshetra Magazine Summary for November 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_October_2019.pdf" title="Kurukshetra Magazine Summary for October 2019 Issue" > Kurukshetra Magazine Summary for October 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_September_2019.pdf" title="Kurukshetra Magazine Summary for September 2019 Issue" > Kurukshetra Magazine Summary for September 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_August_2019.pdf" title="Kurukshetra Magazine Summary for August 2019 Issue" > Kurukshetra Magazine Summary for August 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_July_2019.pdf" title="Kurukshetra Magazine Summary for July 2019 Issue" > Kurukshetra Magazine Summary for July 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_June_2019.pdf" title="Kurukshetra Magazine Summary for June 2019 Issue" > Kurukshetra Magazine Summary for June 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra-Summary-May-2019.pdf" title="Kurukshetra Magazine Summary for May 2019 Issue" > Kurukshetra Magazine Summary for May 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_April_2019.pdf" title="Kurukshetra Magazine Summary for April 2019 Issue" > Kurukshetra Magazine Summary for April 2019 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_March_2019.pdf" title="Kurukshetra Magazine Summary for March 2019 Issue" > Kurukshetra Magazine Summary for March 2019 Issue</a> </li>
            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Kurukshetra_Summary_February_2019.pdf" title="Kurukshetra Magazine Summary for February 2019 Issue" > Kurukshetra Magazine Summary for February 2019 Issue</a> </li>

            <li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_December_2018.pdf" title="Kurukshetra Magazine Summary for December 2018 Issue" > Kurukshetra Magazine Summary for December 2018 Issue</a> </li>

						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_November_2018.pdf" title="Kurukshetra Magazine Summary for November 2018 Issue" >Kurukshetra Magazine Summary for November 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_October_2018.pdf" title="Kurukshetra Magazine Summary for October 2018 Issue" >Kurukshetra Magazine Summary for October 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_Septemeber_2018.pdf" title="Kurukshetra Magazine Summary for September 2018 Issue" >Kurukshetra Magazine Summary for September 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_August_2018.pdf" title="Kurukshetra Magazine Summary for August 2018 Issue" >Kurukshetra Magazine Summary for August 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_July_2018.pdf" title="Kurukshetra Magazine Summary for July 2018 Issue" >Kurukshetra Magazine Summary for July 2018 Issue </a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_June_2018.pdf" title="Kurukshetra Magazine Summary for June 2018 Issue" >Kurukshetra Magazine Summary for June 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_May_2018_Formatted.pdf" title="Kurukshetra Magazine Summary for May 2018 Issue" >Kurukshetra Magazine Summary for May 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_Apr_2018_Formatted.pdf" title="Kurukshetra Magazine Summary for April 2018 Issue" >Kurukshetra Magazine Summary for April 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_Mar_2018_Formatted.pdf" title="Kurukshetra Magazine Summary for March 2018 Issue" >Kurukshetra Magazine Summary for March 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_Feb_2018_Formatted.pdf" title="Kurukshetra Magazine Summary for February 2018 Issue" >Kurukshetra Magazine Summary for February 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Jan_2018_Formatted.pdf" title="Kurukshetra Magazine Summary for January 2018 Issue" >Kurukshetra Magazine Summary for January 2018 Issue</a> </li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_Dec_2017_Formatted.pdf" title="Kurukshetra Magazine Summary for December 2017 Issue" >Kurukshetra Magazine Summary for December 2017 Issue</a></li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_November_2017.pdf" title="Kurukshetra Magazine Summary for November 2017 Issue" >Kurukshetra Magazine Summary for November 2017 Issue</a></li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_October_2017.pdf" title="Kurukshetra Magazine Summary for October 2017 Issue" >Kurukshetra Magazine Summary for October 2017 Issue</a></li>
						
						<li><a target="_blank" href="/static/vajiramandraviweb/pdf/Kurukshetra_Summary_September_2017.pdf" title="Kurukshetra Magazine Summary for September 2017 Issue" >Kurukshetra Magazine Summary for September 2017 Issue</a> </li>
          </ul>
			</div>
      

    </div>

  </div>
{% endblock base_block %}