{% extends 'website/base.html' %}
{% load static%}
{% block base_meta_block %}
	<title>  Leadership @ Cyber Vidyapeeth </title>
	<meta name="keywords" content="Leadership @ Cyber Vidyapeeth " />
	<meta name="description" content="Leadership @ Cyber Vidyapeeth " />
{% endblock%}

{% block base_head_block %}
{% endblock base_head_block %}
{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Leadership @ Cybervidyapeeth  </h1>
    </div>
  </div>
</div>

<div class="container py-5 page_content">
	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/shashank-shekhar-garuryar.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
				<h2 style="font-weight:bold;">Shashank Shekhar Garuryar</h2>
				<h4 style="color: #003399;">Chairman</h4>
				<div class="my-custom-p">
					Shashank is a B.Tech ECE from BIT Sindri with MBA Marketing from IGNOU. He has domain
					experience of Process Automation, Safe &amp; Smart Cities and Critical Infrastructure and
					has served Power, Oil &amp; Gas, Steel, Defense, Telecom sectors in Project Management,
					Business Development and Business Operations for close to four decades. He brings
					insight into the complex Industry sector; understands the issues industries face and has
					a fantastic contact network to navigate complex stakeholder environments.
				<br/>
					Shashank started his career from teaching, moved to PSU/Pvt/MNC and served Fertilizer,
					Hindalco, ABB, Datamatics, G4S, HFCL. He is one of the founder Members of ISA Delhi
					Section.
				<br/>
					Shashank is a motivational speaker, an influencer and a relationship management cum
					behavioral sciences trainer. As a Coach and facilitator, he enables others to grow in
					their journey of self-discovery and evolution – as a person and as a professional.
				<br/>
					He believes <strong>“Training is one of the core pillars of our success”</strong>.
				</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/balaji-venkateshwar.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
				<h2 style="font-weight:bold;">Balaji Venketeshwar</h2>
				<h4 style="color: #003399;">Chief Mentor - Cyber Defence</h4>
				<div class="my-custom-p">
					Balaji Venketeshwar is a technology business executive with core specialization in Cyber
					Defense. He has architected and operationalized multiple Cyber Security Capability
					Centers in last 25 years. He is an innovator and evangelize Technology Innovation as way
					of life. He has also mentored more than 3000+ cyber defense expert so far. He has 1
					patent granted and 9 more patents filed in Cyber &amp; Technology Space.
				<br/>
					He has served in various Cyber Defense related Senior Positions at SBI, Wipro BPO, Bank
					of America, PwC, Qualcomm and IDFC First Bank. He has taken voluntary retirement from
					corporate life after serving as CISO at IDFC First Bank and decided to devote his life
					for nation building now.
				</div>

		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/dr-asit-mohapatra.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Dr. Asit Mohapatra</h2>
			<h4 style="color: #003399;">President - Pedagogy </h4>
			<div class="my-custom-p">
				Dr. Asit Mohapatra, a graduate of BIT Sindri, MBA of JBIMS Mumbai and PhD of AMU has spent over four decades in Corporate sector across Industry segments like Manufacturing, Automobiles, Chemicals, Pharmaceuticals, Financial Services, Retail, Textiles and Supply Chain. His core competencies are in the areas of Human Resource Management, Industrial Engineering, Quality and Industrial Relations.
				<br/><br/>
				He began his career in Tata Motors as an Industrial Engineer and then transitioned to a career in HR at the Tata Motors corporate office. Later he served ICICI Bank, Jubilant Bhartia Group, Reliance Retail and Future Supply Chain as Senior VP-HR. He also served Pfizer and Raymond as Director- HR. In recognition of his contribution in the area of HR, he has been awarded the HR Leadership Award by the Asia Pacific HRM Congress.
				<br/><br/>
				Dr Mohapatra has been passionate about Management education and has taught at IIM Lucknow, Udaipur, Rohtak, Shillong , Ranchi and Kozhikode. He has served as Secretary to the Board of Governors at IIM Ranchi and the Academic advisory board of three Management Institutes in India. For his contributions to education, he was awarded the Best Professor in HRM from World HRD Congress.
				<br/><br/>
				He is a Master Practioner in Neuro Linguistic Programming (NLP), a certified Happiness Coach and is a speaker at National Seminars and Conferences.
			</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/bal-krishna-baranwal.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Bal Krishna Baranwal</h2>
			<h4 style="color: #003399;"> President - Domestic Relations</h4>
			<div class="my-custom-p">
				Over 35 years of IT experience at India's largest IT Services company Tata Consultancy Services in Delivery Management, Business Planning, Risk Management, Operations Management, Project Planning, Estimation, Transition Management, Accounts Review, Program Review etc.
				<br/><br/>
				Played various roles including Delivery Head India - Business Operations, Resident Manager for business in Japan, Global Delivery Manager. The Global experience included delivery and business management of international customers across USA, UK, Japan, Singapore and Nigeria for over 10 years from overseas locations.
				<br/><br/>
				Board member of Governing Council for Governance, Management and Advisory services of BIT Sindri, one of the oldest Engineering Institute of India.
			</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/dr-bhuwan-mohan.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Dr. Bhuwan Mohan</h2>
			<h4 style="color: #003399;">Chief Knowledge Officer</h4>
			<div class="my-custom-p">
				Dr. Bhuwan Mohan is an academician par excellence with 40 of experience & exposure in field of engineering, technology, Management, astrology and education. He has done his Masters in Structural Engineering from Sambalpur University. He has been a pioneer in implementing Computerization & E-Governance in Government of Bihar in early 90s. He has done his PhD in Human Resource Management and recently completed his next PhD in Astrology. Currently he is an Academic Counsellor, IGNOU , Ranchi. He has been Professor & Head of Department with CIT, Ranchi.
				<br/><br/>
				A born linguist with fluency in more than 10 language including Arabic. He has dedicated his life popularizing Computer Education in masses since 1990. For his academic pursuit and significant work in popularizing Indian Knowledge System including astrology, he has been awarded “Jharkhand Ratna” & “Patrakarita Rashtriya Samman”.

			</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/rajiv-singh.png' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Rajiv Singh</h2>
			<h4 style="color: #003399;"> President - Cyber Defence</h4>
			<div class="my-custom-p">
				Founder Global Cybersecurity Start-Up, Board Member of an IT Provider (Europe) & Advisory Board Member of The Center For Innovation Commercialization, US
				<br/><br/>
				Former Global Head for Enterprise Security and Risk Management of a $5 Bn IT Services Company Experience with Military grade cybersecurity from the Government of Israel & US Dept of Defense approved Cyber technologies, Silicon Valley Start-ups & Israel Start-up Ecosystem achieving breakthrough innovation in Cybersecurity for Govt & Enterprises. Experience with design of Secured Identity programs with Interpol France. National Security initiatives with the Ministry of Home (MHA) for the Indian citizen authentication NPR program. Have served as Managing Director of Computer Associates (CA), US: Enterprise Software Initiatives in Asia, Managing Director of Diebold, South-Asia: Banking industry, Managing Director of Entrust Datacard, South-Asia: National Security Initiatives in Asia and President & Founder CEO of IndiCash.
			</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/arya-vedabrata.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Arya Vedabrata </h2>
			<div class="my-custom-p">
				Data Scientist & Innovation Steward with 17+ Years Exp. Success Stories of Data Innovation crafted in multiple industries – Banking, Pharma, Insurance, Airport, Airlines, Telecom, Logistics and Microfinance. Filed 9 patents in USPTO with 2 granted. Expertise include Data Analytics, Data Science, Visualization Analytics, Analytical Product Development, Team Management, Data Quality Analytics, Datawarehouse, Business Intelligence, Banking Analytics, Audit Analytics, Fraud Analytics – Financial Crime (Anti-Bribery, Internal Fraud, Insider Trading) Has been training Data Science to Students as well as Corporates
				<br/><br/>
				Expertise include Data Analytics, Data Science, Visualization Analytics, Analytical Product Development, Team Management, Data Quality Analytics, Datawarehouse, Business Intelligence, Banking Analytics, Audit Analytics, Fraud Analytics – Financial Crime (Anti-Bribery, Internal Fraud, Insider Trading) Has been training Data Science to Students as well as Corporates


			</div>
		</div>
	</div>

	<div class="row advisory_row">
		<div class="col-md-3">
			<div class="">
				<img src="{% static 'cybervidyapeeth/images/leadership/dr-mamta-verma.jpg' %}"  class="advisor_img"/>
			</div>
		</div>
		<div class="col-md-9">
			<h2 style="font-weight:bold;">Dr. Mamta Verma </h2>
			<h4 style="color: #003399;">Director</h4>
			<div class="my-custom-p">
				Dr. Mamta is an academician and a voracious reader of Vedic Scriptures and promotes Indic way of living. She is a PhD in English Literature with specialization in Phonetics.
				<br/><br/>
				She contributes significantly to provide access to free education for underprivileged children and help them in grooming persona building. She imparts free training to students for building necessary skill in English Language with specialization in phonetics.
				<br/><br/>
				She is an avid Yoga Practitioner and promote yoga as an essential way living. She follows Sri Sri Ravishankar and work as volunteer for promoting yoga across the globe.

			</div>
		</div>
	</div>

	


</div>

{% endblock base_block %}