{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Best Online UPSC Coaching & Courses | Best Online Coaching for IAS | Online Civil Services Coaching  </title>
	<meta name="description" content="Get your UPSC / IAS preparation on an autopilot mode with Vajiram and Ravi's result-oriented best online UPSC coaching and courses. 100% personal assistance." />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
    <div class="shadeoverlay"></div>
    <div class="container">
      <div class="content">
        <h1 class=""> Best Online UPSC Coaching - Vajiram & Ravi  </h1>
        <h2 class=""> by Vajiram &amp; Ravi  </h2>
      </div>
    </div>
</div>
<div class="container">
    
    <div class="inner_page_content content_wrapper">

      <div class="inner_page_highlight_box">
        <div class="container p-0">
          <div class="row">
	          <div class="col-sm-6">
	            <a  target="_blank" class="btn d-block  btn-lg no-border-radius btn-danger font_weight_600" href="https://bit.ly/2YkMtqZ"> Online CA Course 2021-22 - Registration Open </a>
	          </div>

	          <div class="col-sm-6">
	          <a  target="_blank" class="btn d-block btn-lg no-border-radius btn-success font_weight_600 disabled" href="https://bit.ly/2YkMtqZ"> PowerUp Prelims 2022 - Registration Closed </a>
	          </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-sm-3 ">
          <div class="product_card">
            <div class="product_img_wrapper padding-t-10">
              <img class="product_img" src="{% static 'vajiramandraviweb/images/prelims-powerup-course-2022-vajiram.png' %}"/>
            </div>
            <h3 class="product_title">
              PowerUP Prelims Course
            </h3>
            <div class="product_details">

              <div>
                <i class="fa fa-chevron-right"></i>  <strong>20 G.S. + 5 CSAT Tests </strong>
              </div>

              <div>
                <i class="fa fa-chevron-right"></i>  <strong>Online Classes</strong>
              </div>
              
              <div>
                <i class="fa fa-chevron-right"></i>  <strong>All India Ranking </strong>
              </div>
              <!-- <div>
                <i class="fa fa-chevron-right"></i>  <strong> Complete Syllabus Coverage </strong>
              </div> -->
              <!-- <div>
                <i class="fa fa-chevron-right"></i>  <strong>Video Explanations</strong>
              </div> -->
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-map-marker"></i>  Location : <strong>VajiramIAS App/ vajiramias.com </strong>
              </div>
                

              <div class="row " style="padding-left:0; padding-right:0;">
                <div class="col-sm-6"> 

                  <a href="#prelims_powerup" class="btn-sm btn d-block btn-info margin-t-10"> See Details  </a>

                 </div>
                <div class="col-sm-6">
                  <a href="https://bit.ly/powerup_prelims" class="btn-sm btn d-block btn-danger margin-t-10 disabled"> Reg'n Closed  </a>

                </div>
              </div>

              
              <!-- <span class="btn d-block btn-default disabled margin-t-10"> Registration Re-opens on 27th Jan </span> -->
            </div>
          </div>
        </div>

        <div class="col-sm-3 ">
          <div class="product_card">
            <div class="product_img_wrapper padding-t-10">
            	<img class="product_img" src="{% static 'vajiramandraviweb/images/current-affairs-online-course-vajiram.png' %}"/>
            </div>
            <h3 class="product_title">
              Online Current Affairs Course
            </h3>
            <div class="product_details">

              <div>
                <i class="fa fa-chevron-right"></i>  <strong>Online Classes + Tests  </strong>
              </div>

              <div>
                <i class="fa fa-chevron-right"></i>  <strong> Daily & Monthly Tests </strong>
              </div>

              
              
              <div>
                <i class="fa fa-chevron-right"></i>  <strong>All India Ranking </strong>
              </div>
              <!-- <div>
                <i class="fa fa-chevron-right"></i>  <strong> Complete Syllabus Coverage </strong>
              </div> -->
              <!-- <div>
                <i class="fa fa-chevron-right"></i>  <strong>Video Explanations</strong>
              </div> -->
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-map-marker"></i>  Location : <strong>VajiramIAS App/ vajiramias.com </strong>
              </div>
                

              <div class="row" style="padding-left:0; padding-right:0;">
                <div class="col-sm-6"> 

                  <a href="#online_current_affairs_course" class="btn-sm btn d-block btn-info margin-t-10"> See Details  </a>

                 </div>
                <div class="col-sm-6">
                  <a href="https://bit.ly/powerup_prelims" class="btn-sm btn d-block btn-success margin-t-10"> Register  </a>

                </div>
              </div>

              
              <!-- <span class="btn d-block btn-default disabled margin-t-10"> Registration Re-opens on 27th Jan </span> -->
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="" style="margin:10px 0px;">
        <a  target="_blank" class="btn d-block  btn-lg no-border-radius btn-danger font_weight_600 " href="https://bit.ly/2YkMtqZ"> Click to Register for Online Current Affairs Classes  </a>
      </div> -->
      <div id="prelims_powerup" style="border: 1px solid #ddd; background: #f6f6f6; padding :10px; margin-top: 20px;" >
        <h3>POWERUP PRELIMS 2021 - A FRESH DOSE OF ENERGY FOR IAS ASPIRANTS.</h3>

        <p>
        We feel elated to launch POWERUP PRELIMS 2022, the supercharged training programme
        for diligent Civil Services aspirants appearing for Prelim Test 2022. At Vajiram & Ravi, we
        have been a beacon of light for thousands of students over the past 44 years offering efficient
        guidance and unparalleled mentoring. We are now extending our passionate services in the
        online medium as well through this well-structured course.
        </p>
        <p>
        This programme aims at refreshing the knowledge and boosting the confidence of aspirants
        who have been striving hard over the past year. We have curated an effective online training
        package for Prelims 2022 that comprises of top-of-the-line learning material and mock test
        modules to help prepare the aspirants in a more organized manner.</p>
        <p>
        Here's a breakdown of what PowerUp Prelims 2022 embodies:
        </p>
        <ol>
        <li> Duration of the programme: December 2021 to May 2022.</li>
        <li>20 General Studies and 5 CSAT tests conforming to the latest UPSC pattern.</li>
        <!-- <li>An introductory class before each set of G.S Sectional Tests will be available.</li>
        <li>The introductory class will help students to systematically approach different chapters of the tests.</li>

        <li>All G.S sectional tests will be followed by DETAILED TEST DISCUSSION VIDEOS enabling
        students to revise the syllabus.</li>
        <li>Test explanatory videos would be available for G.S Tests 1 to 9. Current Affairs questions,
        CSAT & full G.S Tests would be provided only with solutions and detailed explanations.</li> -->
        <li>Online Prelims Test Series will be conducted in the students' portal on www.vajiramias.com</li>
        <li>Apart from a series of PRELIMS MOCK TESTS, students will also receive important
        announcements and Daily Current Affairs articles.</li>
        <li>General Studies and CSAT tests would be uploaded by 9:30 A.M. on Sundays as per the
        mentioned schedule and answer key and test explanation will be published the next day.</li>

        <li>Students can choose to take the tests anytime between December 2021 and May 2022. However,
        only those who appear for and submit the test on the day of the test would be included for
        ranking among all the mock test participants.</li>
        </ol>
        <h4>Course Fee Inclusive of GST: ₹7500/-</h4>
        <!-- <p>Ex-students of Vajiram & Ravi (GS Classroom students 2019-20): <strong>₹8500</strong></p>
        <p>New Admissions: <strong> ₹9500 </strong></p> -->
        <p>For more details and queries, email us at <strong>online@vajiramandravi.com</strong> with the
        subject titled <strong>"Prelim Test 2022."</strong></p>

      </div>

      <div class="" style="margin:10px 0px;">
        <a  target="_blank" class="btn d-block  btn-lg no-border-radius btn-danger font_weight_600" href="/upsc-prelims-test-series.php"> UPSC Prelims Test Series 2022 - Check Details</a>
      </div>

      <div id="online_current_affairs_course" style="border: 1px solid #ddd; background: #f6f6f6; padding :10px; margin-top: 80px;" >
        <h3>Online Current Affairs Course - Classes & Content for UPSC 2022</h3>
        <p>
        Preparation of Current Affairs is an essential component in a student’s preparation journey for the Civil Services Examination. Current Affairs has its presence at the Prelim, Main and Interview stages of the C.S Exam. It has the potential to decide the success of a student in the Civil Services Exam.
        </p>

        <p>
        The Institute in its strive to help students study effectively, has designed a Current Affairs course to suit the Prelim Test with MCQs and Main Exam with questions & answers. This current affairs course includes Online classes as well as study material. The online classes would be conducted by Vajiram & Ravi’s Current Affairs specialist and the content is prepared by well trained team of experts covering both factually and analytically of current issues.
        </p>

        <p>
          To further enhance its coverage of Current Affairs, Vajiram & Ravi conducts exclusive <strong>Current Affairs Online Classes</strong> to ease learning through lectures and comprehensively cover the important issues for all the stages of the Civil Services Examination. The Online classes would focus on in-depth analysis and providing inter-linkages to current issues. These lectures are based on the academic calendar of the UPSC, from Nov 2021 to Oct 2022. The Online lectures would be taught by Vajiram& Ravi’s experienced faculty. The videos along with the respective class handout would be uploaded twice weekly on Wednesdays and Saturdays. To further enhance their preparation regularly, students would also be asked to take online monthly current affairs Test of 50 MCQs. 
        </p>

        <p>
        This enriched content on Current Affairs is available to students on Vajiramias App and students’ portal in the form of daily events and important articles apart from the monthly Current Affairs Magazine called ‘The Recitals’.
        </p>

        <p>
          An ideal blend of Vajiram & Ravi’s current affairs Online classes, content from the App & The Rectials along with the Tests is touted thorough preparation strategy.
        </p>

        <p>
          <ul>
            <li>
              Course Fee: Rs. 28,000/- Including GST.
            </li>
            <!-- <li>
              Admission begins from 15th May 2021.
            </li> -->
            <li>
              Course duration from Nov 2021 to Oct 2022
            </li>
          </ul>
        </p>

        <!-- <div class="" style="margin:10px 0px;">
          <a  target="_blank" class="btn d-block  btn-lg no-border-radius btn-danger font_weight_600" href="https://bit.ly/2YkMtqZ"> Click Here to Register for Online CA Classes 2021-22  </a>
        </div> -->

        <p>
          <h3>FAQs</h3>
        </p>

        <p>
          <strong>Ques:</strong>
          Can we join in between the course period and access the previous videos?
          <br>
          <strong>Ans:</strong>
          Yes, you can view the videos that have been uploaded since Nov 2021.
        </p>

        <p>
          <strong>Ques:</strong>
          Do I have to pay, if I am a current G.S student studying at the institute?
          <br>
          <strong>Ans:</strong>
          This course is part of the 2021-22 General Studies programme.
        </p>

        <p>
          <strong>Ques:</strong>
          Is there any discount available to ex-students of Vajiram & Ravi?
          <br>
          <strong>Ans:</strong>
          Yes. Students of the 2019-20 G.S batch would be offered this course at Rs. 24,000/-. A coupon code would be sent to you to avail the discount.
        </p>

        <p>
          <strong>Ques:</strong>
          What is the relevance of Current Affairs in the Civil Services Examination?
          <br>
          <strong>Ans:</strong>
          The Prelim, Main and Interview carry more than 50% of questions based on current affairs. Effective current affairs preparation increases the chances of a student to attempt more number of questions in the exam, correctly.
        </p>

        <p>
          <strong>Ques:</strong>
          How do I integrate my Current Affairs preparation between the content and classes?
          <br>
          <strong>Ans:</strong>
          Students should read the daily current affairs articles provided on the portal on a daily basis and extend their preparation further by studying the monthly current affairs magazine along with the current affairs classes.
        </p>

        <p>
          <strong>Ques:</strong>
          Would the classes cover Current Affairs only for the Prelim Test?
          <br>
          <strong>Ans:</strong>
          The online classes are designed to cover important content for the Prelim and Main Exams and also helping students to prepare for the interview. It is advised that the student prepares simultaneously for the Prelim and Main exam.
        </p>

        <p>
          <strong>Ques:</strong>
          When should a student join the Current Affairs course?
          <br>
          <strong>Ans:</strong>
          Students should begin preparing Current Affairs regularly and not let it to pile up closer to the exam. Students should begin preparation atleast 10 months before the Prelim Test. Regular coverage of current affairs helps a student to stay updated, organize developments on issues, understand deeper and analyse.
        </p>

        <p>
          <strong>Ques:</strong>
          How are the online current affairs classes helpful for a student?
          <br>
          <strong>Ans:</strong>
          Vajiram & Ravi has been helping its students with quality content and now it has taken the initiative to help them with classes on current affairs. Quality content and classes are the most effective method to prepare current affairs. The classes help a student to understand what to study and how to study.
        </p>

        <p>
          <strong>Ques:</strong>
          Are there classroom current affairs classes also available?
          <br>
          <strong>Ans:</strong>
          Due to the lockdown and Covid-19 emergency, Vajiram& Ravi has reached out to students to help them to continue to prepare as the lectures and content are available to them online. Online Current Affairs classes are designed to support a student’s UPSC preparation. Current Affairs classes are only available online for the 2021-22 session.
        </p>

        <!-- <p>
          <strong>Ques:</strong>
            Is there an option to refund the online current affairs course?
          <br>
          <strong>Ans:</strong>
          No, the online current affairs course cannot be refunded after a student is admitted.
          However, when a student joins the current affairs online course and later join the General studies classroom programme in August-September 2020, then the fee will be refunded back to the student after he/she is admitted to the G.S Prelim &amp; Mains classroom programme, as it includes current affairs classes.
        </p> -->

      </div>
    </div>

  </div>
{% endblock base_block %}