{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Course - Psychology - Vajiram and Ravi</title>
  <meta name="description" content="Course - Psychology - Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">  Course - Psychology  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
		
<p><strong>Psychology Paper - I</strong></p>

<p><strong>FOUNDATIONS OF PSYCHOLOGY</strong></p>

<p><strong>1. Introduction:</strong> Definition of Psychology; Historical antecedents of Psychology and trends in the 21st century; Psychology and scientific methods; 
	Psychology in relation to other social sciences and natural sciences; Application of Psychology to societal problems.</p>

<p><strong>2. Methods of Psychology:</strong> Types of research: Descriptive, evaluative, diagnostic and prognostic; Methods of Research: Survey, observation, case-study and experiments; 
	Characteristics of experimental design and non-experimental design, Quasi-experimental designs; Focussed group discussions, brain storming, grounded theory approach.</p>

<p><strong>3. Research Methods:</strong> Major steps in Psychological research (problem statement, hypothesis formulation, research designs, sampling, tools of data collection, 
	analysis and interpretation and report writing) Fundamental versus applied research; Methods of data collect ion ( interview, observation, questionnaire); 
	Research designs (ex-post facto and experimental); Application of statistical technique (t – test, two way ANOVA correlation, regression and factor analysis); Item response theory.</p>

<p><strong>4. Development of Human Behaviour:</strong> Growth and development; Principles of development, Role of genetic and environmental factors in determining human behaviour; 
	Influence of cultural factors in socialization; Life span development – Characteristics, development tasks, promoting psychological well-being across major stages of the life span.</p>

<p><strong>5. Sensation, Attention and Perception:</strong> Sensation: concepts of threshold, absolute and difference thresholds, signal-detection and vigilance; Factors influencing attention including
 set and characteristics of stimulus; Definition and concept of perception, biological factors in perception; Perceptual organization-influence of past experiences,
  perceptual defence-factors influencing space and depth perception, size estimation and perceptual readiness; The plasticity of perception; Extrasensory perception; 
  Culture and perception, Subliminal perception.</p>

<p><strong>6. Learning:</strong> Concept and theories of learning (Behaviourists, Gestaltalist and Information processing models); The Processes of extinction, discrimination and generalization; Programmed learning,
 probability learning, self-instructional learning, concepts; Types and the schedules of reinforcement, escape, avoidance and punishment, modeling and social learning.</p>

<p><strong>7. Memory:</strong> Encoding and remembering; Short term memory, Long term memory, Sensory memory, Iconic memory, Echoic memory: The Multistore model, levels of processing; 
	Organization and Mnemonic techniques to improve memory; Theories of forgetting: decay, interference and retrieval failure: Metamemory; Amnesia: Anterograde and retrograde.</p>

<p><strong>8. Thinking and Problem Solving:</strong> Piaget’s theory of cognitive development; Concept formation processes; Information processing, Reasoning and problem solving, 
	Facilitating and hindering factors in problem solving, Methods of problem solving: Creative thinking and fostering creativity; Factors influencing decision making and judgment; Recent trends.</p>

<p><strong>9. Motivation and Emotion:</strong> Psychological and physiological basis of motivation and emotion; Measurement of motivation and emotion; Effects of motivation and emotion on behaviour;
 Extrinsic and intrinsic motivation; Factors influencing intrinsic motivation; Emotional competence and the related issues.</p>

<p><strong>10. Intelligence and Aptitude:</strong> Concept of intelligence and aptitude, Nature and theories of intelligence – Spearman, Thurstone, Gullford Vernon, Sternberg and J.P; Das; 
	Emotional Intelligence, Social intelligence, measurement of intelligence and aptitudes, concept of IQ, deviation IQ, constancy of IQ; Measurement of multiple intelligence; 
	Fluid intelligence and crystallized intelligence.</p>

<p><strong>11. Personality:</strong> Definition and concept of personality; Theories of personality (psychoanalytical, sociocultural, interpersonal, developmental, humanistic, behaviouristic, trait and type approaches); 
	Measurement of personality (projective tests, pencil-paper test); The Indian approach to personality; Training for personality development; Latest approaches like big 5 factor theory; 
	The notion of self in different traditions.</p>

<p><strong>12. Attitudes, Values and Interests:</strong> Definition of attitudes, values and interests; Components of attitudes; Formation and maintenance of attitudes; Measurement of attitudes, values and interests;
 Theories of attitude change; Strategies for fostering values; Formation of stereotypes and prejudices; Changing others behaviour; Theories of attribution; Recent trends.</p>

<p><strong>13. Language and Communication:</strong> Human language – Properties, structure and linguistic hierarchy, Language acquisition-predisposition, critical period hypothesis; 
	Theories of language development – Skinner and Chomsky; Process and types of communication – effective communication training.</p>

<p><strong>14. Issues and Perspectives in Modern Contemporary Psychology:</strong> Computer application in the psychological laboratory and psychological testing; Artificial intelligence ; Psycho-cybernetics; 
	Study of consciousness – sleep – wake schedules; dreams, stimulus deprivation, meditation, hypnotic/drug induced states; Extrasensory perception; Inter-sensory perception Simulation studies.</p>

<p><strong>PAPER-II</strong></p>

<p><strong>PSYCHOLOGY: ISSUES AND APPLICATIONS</strong></p>

<p><strong>1. Psychological Measurement of Individual Differences:</strong> The nature of individual differences; Characteristics and construction of standardized psychological tests; Types of psychological tests; 
	Use, misuse and limitation of psychological tests; hical issues in the use of psychological tests.</p>

<p><strong>2. Psychological well-being and Mental Disorders:</strong> Concept of health-ill health; Positive health, well-being; Causal factors in mental disorders (Anxiety disorders, mood disorders, 
	schizophrenia and delusional disorders; personality disorders, substance abuse disorders); Factors influencing positive health, well-being, life style and quality of life; Happiness disposition.</p>

<p><strong>3. Therapeutic Approaches:</strong> Psychodynamic therapies ; Behaviour therapies; Client centered therapy; Cognitive therapies; Indigenous therapies (Yoga, Meditation); Bio-feedback therapy; 
	Prevention and rehabilitation of the mentally ill; Fostering mental health.</p>

<p><strong>4. Work Psychology and Organisational Behaviour:</strong> Personnel selection and training; Use of psychological tests in the industry; Training and human resource development; 
	Theories of work motivation – Herzberg, Maslow, Adam Equity theory, Porter and Lawler, Vroom; Leadership and participatory management; Advertising and marketing; Stress and its management;
	 Ergonomics; consumer psychology; Managerial effectiveness; Transformational leadership; Sensitivity training; Power and politics in organizations.</p>


<p><strong>5. Application of Psychology to Educational Field:</strong> Psychological principles underlying effective teaching-learning process; Learning styles; Gifted, retarded, learning disabled and their training; 
	Training for improving memory and better academic achievement; Personality development and value education, Educational, vocational guidance and career counseling;
	 Use of psychological tests in educational institutions; Effective strategies in guidance programmes.</p>

<p><strong>6. Community Psychology:</strong> Definition and concept of community psychology; Use of small groups in social action; Arousing community consciousness and action for handling social problems; 
	Group decision making and leadership for social change; Effective strategies for social change.</p>

<p><strong>7. Rehabilitation Psychology:</strong> Primary, secondary and tertiary prevention programmes – role of psychologists ; Organising of services for rehabilitation of physically, 
	mentally and socially challenged persons including old persons, Rehabilitation of persons suffering from substance abuse, juvenile delinquency, criminal behaviour; 
	Rehabilitation of victims of violence, Rehabilitation of HIV/AIDS victims, the role of social agencies.</p>

<p><strong>8. Application of Psychology to disadvantaged groups:</strong> The concepts of disadvantaged, deprivation; Social, physical, cultural and economic consequences of disadvantaged and deprived groups; 
	Educating and motivating the disadvantaged towards development; Relative and prolonged deprivation.</p>

<p><strong>9. Psychological problems of social integration:</strong> The concept of social integration; The problem of caste, class, religion and language conflicts and prejudice; 
	Nature and manifestation of prejudice between the in-group and out-group; Causal factors of social conflicts and prejudices; Psychological strategies for handling the conflicts and prejudices; 
	Measures to achieve social integration.</p>

<p><strong>10. Application of Psychology in Information Technology and Mass Media:</strong> The present scenario of information technology and the mass media boom and the role of psychologists; 
	Selection and training of psychology professionals to work in the field of IT and mass media; Distance learning through IT and mass media; Entrepreneurship through e-commerce; 
	Multilevel marketing; Impact of TV and fostering value through IT and mass media; Psychological consequences of recent developments in Information Technology.</p>

<p><strong>11. Psychology and Economic development:</strong> Achievement motivation and economic development; Characteristics of entrepreneurial behaviour; Motivating and training people for entrepreneurship and economic 
	development; Consumer rights and consumer awareness, Government policies for promotion of entrepreneurship among youth including women entrepreneurs.</p>

<p><strong>12. Application of psychology to environment and related fields:</strong> Environmental psychology-effects of noise, pollution and crowding; Population psychology: psychological consequences of population
 explosion and high population density; Motivating for small family norm; Impact of rapid scientific and technological growth on degradation of environment.</p>

<p><strong>13. Application of psychology in other fields:</strong></p>

<p>a. Military Psychology Devising psychological tests for defence personnel for use in selection, Training, counseling; training psychologists to work with defence personnel in promoting positive health; 
	Human engineering in defense.</p> 
	<p>b. Sports Psychology Psychological interventions in improving performance of athletes and sports. Persons participating in Individual and Team Games.</p>
	<p>c. Media influences on pro and antisocial behaviour.</p> 
		<p>d. Psychology of terrorism.</p>
<p><strong>14. Psychology of Gender:</strong> Issues of discrimination, Management of diversity; Glass ceiling effect, Self-fulfilling prophesy, Women and Indian society.</p>
    </div>
  </div>
{% endblock base_block %}