{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Course - Public Administration - Vajiram and Ravi</title>
  <meta name="description" content="Public Administration - Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Course - Public Administration  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
              
<p><strong>PAPER-I</strong></p>

<p><strong>Administrative Theory</strong></p>
<p><strong>1. Introduction:</strong> 
  Meaning, scope and significance of Public Administration; Wilson’s vision of Public Administration; Evolution of the discipline and its present status; New Public Administration; 
  Public Choice approach; Challenges of liberalization, Privatisation , Globalisation; Good Governance: concept and application; New Public Management.</p>

<p><strong>2. Administrative Thought:</strong> Scientific Management and Scientific Management movement; Classical Theory; Weber’s bureaucratic model – its critique and post-Weberian Developments; 
  Dynamic Administration (Mary Parker Follett); Human Relations School (Elton Mayo and others); Functions of the Executive (C.I. Barnard); Simon’s decision-making theory;
   Participative Management (R. Likert, C. Argyris, D. McGregor).</p>

<p><strong>3. Administrative Behaviour:</strong> Process and techniques of decision-making; Communication; Morale; Motivation Theories – content, process and contemporary;
 Theories of Leadership: Traditional and Modern.</p>

<p><strong>4. Organisations:</strong> Theories – systems, contingency; Structure and forms: Ministries and Departments, Corporations, Companies, Boards and Commissions;
 Ad hoc and advisory bodies; Headquarters and Field relationships; Regulatory Authorities; Public – Private Partnerships.</p>

<p><strong>5. Accountability and control:</strong>Concepts of accountability and control; Legislative, Executive and Judicial control over administration; Citizen and Administration;
 Role of media, interest groups, voluntary organizations ; Civil society; Citizen’s Charters; Right to Information; Social audit.</p>

<p><strong>6. Administrative Law:</strong> Meaning, scope and significance; Dicey on Administrative law; Delegated legislation; Administrative Tribunals.</p>

<p><strong>7. Comparative Public Administration:</strong> Historical and sociological factors affecting administrative systems; Administration and politics in different countries;
 Current status of Comparative Public Administration; Ecology and administration; Riggsian models and their critique.</p>

<p><strong>8. Development Dynamics:</strong> Concept of development; Changing profile of development administration; ‘Antidevelopment thesis’; Bureaucracy and development;
 Strong state versus the market debate; Impact of liberalisation on administration in developing countries; Women and development – the self-help group movement.</p>

<p><strong>9. Personnel Administration:</strong> Importance of human resource development; Recruitment, training, career advancement, position classification, discipline, performance appraisal,
 promotion, pay and service conditions; employer-employee relations, grievance redressal mechanism; Code of conduct; Administrative ethics.</p>

<p><strong>10. Public Policy: </strong>Models of policy-making and their critique; Processes of conceptualisation, planning, implementation, monitoring, evaluation and review and their limitations;
 State theories and public policy formulation.</p>

<p><strong>11. Techniques of Administrative Improvement:</strong> Organisation and methods, Work study and work management; e-governance and information technology; 
  Management aid tools like network analysis, MIS, PERT, CPM.</p>

<p><strong>12. Financial Administration:</strong> Monetary and fiscal policies; Public borrowings and public debt Budgets – types and forms; Budgetary process;
 Financial accountability; Accounts and audit.</p>

<p><strong>PAPER-II</strong></p>

<p><strong>Indian Administration</strong></p>

<p><strong>1. Evolution of Indian Administration:</strong> Kautilya’s Arthashastra; Mughal administration; Legacy of British rule in politics and administration – Indianization of public services,
 revenue administration, district administration, local self-government.</p>

<p><strong>2. Philosophical and Constitutional framework of government:</strong> Salient features and value premises; Constitutionalism; Political culture; Bureaucracy and democracy; Bureaucracy
 and development.</p>
<p><strong>3. Public Sector Undertakings:</strong> Public sector in modern India; Forms of Public Sector Undertakings; Problems of autonomy, accountability and control; 
  Impact of liberalization and privatization.</p>

<p><strong>4. Union Government and Administration:</strong> Executive, Parliament, Judiciary – structure, functions, work processes; Recent trends; Intragovernmental relations; 
  Cabinet Secretariat; Prime Minister’s Office; Central Secretariat; Ministries and Departments; Boards; Commissions; Attached offices; Field organizations.</p>

<p><strong>5. Plans and Priorities:</strong> Machinery of planning; Role, composition and functions of the Planning Commission and the National Development Council; ‘Indicative’ planning;
 Process of plan formulation at Union and State levels; Constitutional Amendments (1992) and decentralized planning for economic development and social justice.</p>

<p><strong>6. State Government and Administration:</strong> Union-State administrative, legislative and financial relations; Role of the Finance Commission; Governor; Chief Minister; 
  Council of Ministers; Chief Secretary; State Secretariat; Directorates.</p>

<p><strong>7. District Administration since Independence:</strong> Changing role of the Collector; Unionstate-local relations; Imperatives of development management and law and order administration; 
  District administration and democratic decentralization.</p>

<p><strong>8. Civil Services:</strong> Constitutional position; Structure, recruitment, training and capacity-building; Good governance initiatives; Code of conduct and discipline; Staff associations; 
  Political rights; Grievance redressal mechanism; Civil service neutrality; Civil service activism.</p>

<p><strong>9. Financial Management:</strong> Budget as a political instrument; Parliamentary control of public expenditure; Role of finance ministry in monetary and fiscal area; Accounting techniques; 
  Audit; Role of Controller General of Accounts and Comptroller and Auditor General of India.</p>

<p><strong>10. Administrative Reforms since Independence:</strong> Major concerns; Important Committees and Commissions; Reforms in financial management and human resource development;
 Problems of implementation.</p>

<p><strong>11. Rural Development:</strong> Institutions and agencies since independence; Rural development programmes: foci and strategies; Decentralization and Panchayati Raj;
  73rd Constitutional amendment.</p>

<p><strong>12. Urban Local Government:</strong> Municipal governance: main features, structures, finance and problem areas; 74th Constitutional Amendment; Globallocal debate; New localism; 
  Development dynamics, politics and administration with special reference to city management.</p>

<p><strong>13. Law and Order Administration:</strong> British legacy; National Police Commission; Investigative agencies; Role of central and state agencies including paramilitary 
  forces in maintenance of law and order and countering insurgency and terrorism; Criminalisation of politics and administration; Police-public relations; Reforms in Police.</p>

<p><strong>14. Significant issues in Indian Administration:</strong> Values in public service; Regulatory Commissions; National Human Rights Commission; Problems of administration in coalition regimes;
 Citizen-administration interface; Corruption and administration; Disaster management.</p>
    </div>
  </div>
{% endblock base_block %}