{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Course - Sociology - Vajiram and Ravi</title>
  <meta name="description" content="Course - Sociology - Vajiram & Ravi " />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Course - Sociology   </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">
		
<p><strong>PAPER-I: Sociology Syllabus</strong></p>

<p><strong>FUNDAMENTALS OF SOCIOLOGY</strong></p>

<p><strong>1. Sociology – The Discipline:</strong></p>

<p>(a) Modernity and social changes in Europe and emergence of sociology.</p> 
<p>(b) Scope of the subject and comparison with other social sciences.</p> 
<p>(c) Sociology and common sense. </p>

<p><strong>2. Sociology as Science:</strong></p>

 <p>(a) Science, scientific method and critique.</p> 
	<p>(b) Major theoretical strands of research methodology.</p> 
	<p>(c) Positivism and its critique.</p>
	<p>(d) Fact value and objectivity.</p>
	<p>(e) Non- positivist methodologies.</p> 

<p><strong>3. Research Methods and Analysis:</strong></p>

 <p>(a) Qualitative and quantitative methods.</p>
	<p>(b) Techniques of data collection.</p>
	<p>(c) Variables, sampling, hypothesis, reliability and validity.</p> 

<p><strong>4. Sociological Thinkers:</strong></p>

<p>(a) Kar l Marx- Historical materialism, mode of production, alienation, class struggle.</p>
	<p>(b) Emile Durkheim- Division of labour, social fact, suicide, religion and society.</p>
	<p>(c) Max Weber- Social action, ideal types, authority, bureaucracy, protestant ethic and the spirit of capitalism.</p>
	<p>(d) Talcolt Parsons- Social system, pattern variables.</p>
	<p>(e) Robert K. Merton- Latent and manifest functions, conformity and deviance, reference groups.</p>
	<p>(f) Mead – Self and identity.</p>  

<p><strong>5. Stratification and Mobility:</strong></p>

<p>(a) Concepts- equality, inequality, hierarchy, exclusion, poverty and deprivation.</p>
	<p>(b) Theories of social stratification- Structural functionalist theory, Marxist theory, Weberian theory.</p>
	<p>(c) Dimensions – Social stratification of class, status groups, gender, ethnicity and race.</p>
	<p>(d) Social mobility- open and closed systems, types of mobility, sources and causes of mobility.</p> 

<p><strong>6. Works and Economic Life:</strong></p>

<p>(a) Social organization of work in different types of society- slave society, feudal society, industrial /capitalist society.</p>
	<p>(b) Formal and informal organization of work.</p>
	<p>(c) Labour and society.</p>  

<p><strong>7. Politics and Society:</strong></p>

<p>(a) Sociological theories of power.</p>
	<p>(b) Power elite, bureaucracy, pressure groups, and political parties.</p>
    <p>(c) Nation, state, citizenship, democracy, civil society, ideology.</p> 
	<p>(d) Protest, agitation, social movements, collective action, revolution.</p> 

<p><strong>8. Religion and Society:</strong></p>

<p>(a) Sociological theories of religion.</p> 
	<p>(b) Types of religious practices: animism, monism, pluralism, sects, cults.</p> 
	<p>(c) Religion in modern society: religion and science, secularization, religious revivalism, fundamentalism.</p>  

<p><strong>9. Systems of Kinship:</strong></p>

<p>(a) Family, household, marriage.</p>
	<p>(b) Types and forms of family.</p>
	<p>(c) Lineage and descent.</p>
	<p>(d) Patriarchy and sexual division of labour.</p>
	<p>(e) Contemporary trends.</p>  

<p><strong>10. Social Change in Modern Society:</strong></p>

<p>(a) Sociological theories of social change.</p>
	<p>(b) Development and dependency.</p>
	<p>(c) Agents of social change.</p>
	<p>(d) Education and social change.</p>
	<p>(e) Science, technology and social change.</p>  

<p><strong>PAPER-II</strong></p>

<p><strong>INDIAN SOCIETY: STRUCTURE AND CHANGE</strong></p>

<p><strong>A: Introducing Indian Society:</strong></p>

<p><strong>1. Perspectives on the study of Indian society:</strong></p>

<p>(a) Indology (GS. Ghurye).</p> 
	<p>(b) Structural functionalism (M N Srinivas).</p> 
	<p>(c) Marxist sociology (A R Desai).</p> 

<p><strong>2. Impact of colonial rule on Indian society</strong>:</p>

<p>(a) Social background of Indian nationalism.</p> 
	<p>(b) Modernization of Indian tradition.</p>  
	<p>(c) Protests and movements during the colonial period.</p> 
	<p>(d) Social reforms.</p>  

<p><strong>B. Social Structure:</strong></p>

<p><strong>1. Rural and Agrarian Social Structure:</strong></p>

<p>(a) The idea of Indian village and village studies.</p> 
	<p>(b) Agrarian social structure – evolution of land tenure system, land reforms.</p> 

<p><strong>2. Caste System:</strong></p>

<p>(a) Perspectives on the study of caste systems: GS Ghurye, M N Srinivas, Louis Dumont, Andre Beteille.</p> 
	<p>(b) Features of caste system.</p> 
	<p>(c) Untouchability – forms and perspectives.</p>  

<p><strong>3. Tribal communities in India:</strong></p>

<p>(a) Definitional problems.</p> 
	<p>(b) Geographical spread.</p> 
	<p>(c) Colonial policies and tribes.</p>  

<p><strong>C. Issues of integration and autonomy.</strong></p>

<p><strong>1. Social Classes in India:</strong></p>

<p>(a) Agrarian class structure.</p> 
	<p>(b) Industrial class structure.</p> 
	<p>(c) Middle classes in India.</p>   

<p><strong>2. Systems of Kinship in India:</strong></p>

<p>(a) Lineage and descent in India.</p> 
	<p>(b) Types of kinship systems.</p> 
	<p>(c) Family and marriage in India.</p> 
	<p>(d) Household dimensions of the family.</p> 

<p><strong>3. Religion and Society:</strong></p>

<p>(a) Religious communities in India.</p> 
	<p>(b) Problems of religious minorities.</p>  

<p><strong>D. Social Changes in India:</strong></p>

<p><strong>1. Visions of Social Change in India:</strong></p>

<p>(a) Idea of development planning and mixed economy.</p> 
	<p>(b) Constitution, law and social change.</p> 
	<p>(c) Education and social change.</p>  

<p><strong>2. Rural and Agrarian transformation in India:</strong></p>

<p>(a) Programmes of rural development, Community Development Programme, cooperatives, poverty alleviation schemes.
	<p>(b) Green revolution and social change.</p> 
	<p>(c) Changing modes of production in Indian agriculture.</p> 
	<p>(d) Problems of rural labour, bondage, migration.</p> 

<p><strong>3. Industrialization and Urbanisation in India:</strong></p>

<p>(a) Evolution of modern industry in India.</p> 
	<p>(b) Growth of urban settlements in India.</p> 
	<p>(c) Working class: structure, growth, class mobilization.</p> 
	<p>(d) Informal sector, child labour.</p> 
	<p>(e) Slums and deprivation in urban areas.</p>  

<p><strong>4. Politics and Society:</strong></p>

<p>(a) Nation, democracy and citizenship.</p> 
	<p>(b) Political parties, pressure groups, social and political elite.</p> 
	<p>(c) Regionalism and decentralization of power.</p> 
	<p>(d) Secularization</p> 

<p><strong>5. Social Movements in Modern India:</strong></p>

<p>(a) Peasants and farmers movements.</p>
	<p>(b) Women’s movement.</p>
	<p>(c) Backward classes &amp; Dalit movement.</p>
	<p>(d) Environmental movements.</p>
	<p>(e) Ethnicity and Identity movements.</p> 

<p><strong>6. Population Dynamics:</strong></p>

<p>(a)Population size, growth, composition and distribution.</p>
	<p>(b) Components of population growth: birth, death, migration.</p>
	<p>(c) Population policy and family planning.</p>
	<p>(d) Emerging issues: ageing, sex ratios, child and infant mortality, reproductive health.</p>  

<p><strong>7. Challenges of Social Transformation:</strong></p>

<p>(a) Crisis of development: displacement, environmental problems and sustainability.</p> 
	<p>(b) Poverty, deprivation and inequalities.</p> 
	<p>(c) Violence against women.</p> 
	<p>(d) Caste conflicts.</p> 
	<p>(e) Ethnic conflicts, communalism, religious revivalism.</p> 
		<p>(f) Illiteracy and disparities in education.</p>  
    </div>
  </div>
{% endblock base_block %}