{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Vajiram Optional Subject Online Courses </title>
	<meta name="description" content="Vajiram Optional Subject Online Courses" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class=""> Optional Subject Coaching for UPSC Preparation </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>

<!-- <div class="inner_page_highlight_box">
    <div class="container">
      
      <div class="col-sm-12">
        <a  target="_blank" class="btn d-block btn-lg no-border-radius btn-danger font_weight_600 " href="https://vajiramias.com/mains-test-series/">
          Click here to Register for Optional Subject Test Series
        </a>
      </div>
      
    <div class="col-md-12 ">
      <a  target="_blank" class="btn d-block btn-lg no-border-radius btn-danger font_weight_600 " href="/static/vajiramandraviweb/pdf/new/vajiram-delhi-upsc-october-2021-optional-subject-admission.pdf"> Optional Subjects Online & Offline Course - October 2021</a>
    </div>

    </div>

   
  </div> -->
<div class="container">
    <div class="inner_page_content content_wrapper">

      <p>After clearing the Preliminary stage, the next step for a candidate is the Main examination. The mains exam consists of total nine papers; four General Studies papers, two papers of Optional subject (Paper VI and Paper VII), one paper on Essay and two qualifying papers of mother language and English paper.  </p>

      <h4>Marks:</h4>
      <p>Optional subject consists of a total of 500 marks out of a total of 2025 marks and hence play an important role to get selection in the Civil services examination.
    </p>

      <h4>Medium:</h4>
      <p>Optional papers can be answered in English or any of the languages listed in the Eighth Schedule of the Constitution of India. The optional papers can be answered in English even if none of the other papers have been answered by the candidate in English language.</p>

      <h4>Syllabus:</h4>
      <p>For the optional subject, the UPSC has given the detailed syllabus in its notification. Regarding the syllabus UPSC has also mentioned that- “the scope of the syllabus for optional subject papers (Paper VI and Paper VII) for the examination is broadly of the honours degree level i.e. a level higher than the bachelors’ degree and lower than the masters’ degree. In the case of Engineering, Medical Science and law, the level corresponds to the bachelors’ degree”.</p>

      <!-- <ul class="list-group">
          <li class="list-group-item">
            <a  target="_blank" class="no-decoration no-border-radius display-block font_weight_600 disabled" >
               Admission Starts from 13th June 2021
            </a>
          </li>
      </ul> -->

      <!-- <div class="col-md-12 ">
      <a  target="_blank" class="btn btn-block btn-lg no-border-radius btn-success font_weight_600 " href="https://admissions.vajiramias.com/online-admission/"> Admission Open</a>
    </div> -->
      
      <div class="row">

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Public Administration (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>11:00 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-2021-Online-Sociology-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Public Administration (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-2021-Online-Sociology-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <!-- <div class="clearfix"></div> -->

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Commerce & Accountancy (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-History-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Commerce & Accountancy (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-History-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Economics (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>11:00 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-History-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Economics (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>11:00 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-History-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>


        <!-- <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Economics (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>11:00 A.M. </strong>
              </div>
             <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            <!-- </div>
          </div>
        </div>  -->

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Geography (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Geography (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>11:00 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Political Science & I.R. (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Political Science & I.R. (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Sociology (July Batch Full)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 15th July
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.50,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div> -->
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            <!-- </div>
          </div>
        </div> -->

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Anthropology (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:30 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Anthropology (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:30 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Philosophy (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:30 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Philosophy (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:30 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              History (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:30 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              History (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>5:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Mathematics (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Mathematics (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>7:30 A.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Psychology (August Batch)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 25th August 2021
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.50,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div> -->
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            <!-- </div>
          </div>
        </div> -->

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Sociology (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Sociology (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : 17th June
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Psychology (Online)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : August 2022
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Online </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="product_card">
            
            <h3 class="product_title" style="padding-top: 20px; min-height: 80px; line-height: 1.5;">
              Psychology (Offline)
            </h3>
            <div class="product_details">
              <div>
                <i class="fa fa-calendar"></i> Start Date : August 2022
              </div>
             
              <div>
                <i class="fa fa-chevron-right"></i>  Delivery Mode : <strong>Offline </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Course Fee : <strong>Rs.52,000/- </strong>
              </div>
              <div>
                <i class="fa fa-chevron-right"></i>  Batch Timing : <strong>2:00 P.M. </strong>
              </div>
              <!-- <div>
                <i class="fa fa-map-marker"></i>  Web Portal Url : <a href="https://newlms.vajiramandravi.com" target="_blank"> newlms.vajiramandravi.com </a>
              </div> -->
              

              <!-- <a target="_blank" href="https://vajiramias.com/mains-test-series/" class="btn btn-block btn-success margin-t-10 disabled" > Registration Starts from 13th June 2021 </a> -->
              <!-- <a target="_blank" href="/pdf_upload/new/UPSC-Mains-Oct2020-Online-Maths-Test-Series.pdf" class="btn btn-block btn-success margin-t-10"> Fee Structure & Schedule</a> -->

            </div>
          </div>
        </div>






     

    </div>


        
  </div>
</div>
{% endblock base_block %}