{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> UPSC Test Series - Civil Services Test Series 2019 </title>
  <meta name="description" content="UPSC Test Series - Civil Services Test Series 2019 " />
  <meta name="keywords" content="UPSC Test Series, Prelims Test Series, Civil Services Test Series" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">  UPSC Test Series - Civil Services Test Series  </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>

<div class="inner_page_highlight_box">
    <div class="container">
      
      <!-- <div class="col-sm-12">
        <a  target="_blank" class="btn d-block btn-lg no-border-radius btn-success font_weight_600" href="https://vajiramias.com/prelims-test-series-list/">
          Register for Online UPSC PowerUP Prelims 2021 Test Series (June - Oct) 
        </a>
      </div> -->
      

    </div>
  </div>

  <div class="container">
    <div class="inner_page_content content_wrapper">

      <div class="row ">
        <div class="col-md-4 ">
          <!-- <h2 class="font_weight_600 font-22 margin-b-10"> Our Test Series Programs </h2> -->

          <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600 active" href="/testseries.php">
            Overview
          </a>

          <!-- <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-classroom-gs-mains-test-series.php">
            Classroom - GS Mains Test Series
          </a> -->

        <!--   <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-online-gs-mains-test-series.php">
            Online - GS Mains Test Series
          </a>

          <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-optional-subjects-mains-test-series.php">
            Optional Subjects Test Series
          </a>
          <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-main-exam-crash-course.php">
            Main Exam Crash Course
          </a> -->
          <!-- <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-classroom-prelims-test-series.php">
            Classroom Prelims Test Series 2019
          </a>

          <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="upsc-online-prelims-test-series.php">
           Online Prelims Test Series 2019
          </a> -->


          <a class="text-left btn d-block btn-lg no-border-radius btn-info font_weight_600" href="/prelims-test-series-syllabus-answer-keys-and-result.php">
           Prelims Test Result
          </a>
        </div>

       <div class="col-md-8 ">
          <h2>Overview of UPSC Prelims and Main test series</h2>
          <h4>General Studies Prelim Test Series</h4>
          <p><strong>Process and Time period: </strong>We conduct “Prelim Test Series”, consisting of 32 weeks, objective type tests on GS and CSAT. It begins in the month of October and ends in May , before the Prelim exam. The “Prelim Test Series” confers multiple benefits on the candidates. It induces a sense of focus, discipline and regularity in a candidates’ preparation.</p>

          <p><strong>Marks: </strong>For GS – 200 marks (100 questions) and CSAT – 200 marks (80 questions).</p>
          <p>(It is to be noted that the marks scored by the candidates in GS only are considered to qualify for the Main Exam. Marks scored in CSAT are not considered but the minimum qualifying marks in CSAT is 33% in the CSAT paper without attaining which the student cannot clear the Prelim Examination)</p>

          <p><strong>Relevance/Ideology behind Tests:</strong> Due to negative marking, the Civil Services Exam has become difficult to qualify. In some cases, students who have not practiced the objective questions realize in the exam hall their unpreparedness for the surprises thrown at them by the UPSC. In such a scenario, it is desirable that the candidates’ fine tune their GS and CSAT preparations by attending as many tests as possible. It guides them to develop better understanding of the concepts, basic principles and factual aspects of the Prelim subjects. </p>

           <p><strong>Explanations:</strong>To provide an idea about the methodology to be adopted by the students to prepare their subjects, explanations are given by subject experts in the ”Classroom Prelim Test Series” for the questions in such a manner so that the candidates understand how the topic of the question needs to be prepared/analysed. For the benefit of the students joining the “Online Prelim Test Series” we also provide video lectures (explanations given in the Classroom Prelim Test Series).</p> 

          
           <p><strong>OMR and Overall Rank:</strong>The Prelim tests are written on an OMR sheet on the lines of the UPSC exam. To provide a comparative analysis of the candidates’ performance, the Institute will publish on its website every week, ranks, total scores, negative marks net scores obtained by all its candidates taking the tests at various centers. </p> 
          <p><strong>Modes of joining:</strong>A candidate can join the “Prelim Test Series” either by joining the “Classroom Prelim Test Series” or the “Online Prelim Test Series”. </p> 

          <h4>General Studies Main Exam Test Series</h4>

          <p><strong>Process:</strong> The Main Exam Test Series is done in two different ways:</p>
          <p>Firstly, the current students (regular batch students of General Studies Prelim-cum-Main batch) undergo <strong>Online Answer Writing Practice</strong> consisting of at least 4 such sessions where they write answers and upload them on the Institute website through their login portal. Our endeavour in holding Answer Writing Practices for our students is to teach and practice the techniques of answer writing required specifically for the civil services exam .</p>

          <p>Secondly, the old students of Vajiram &amp; Ravi or students who have not joined Vajiram &amp; Ravi for regular classes and join either the <strong>Online GS Main Test Series</strong> or the <strong>Classroom GS Main Test series</strong> right after the Prelim Exam in mid August.  </p> 

          <p>Both the <strong>Online GS Main Test Series</strong> and <strong>Classroom GS Main Test series</strong> have the same number of tests (two standalone tests for the 4 papers of General Studies conducted on weekends and one comprehensive test of all 4 papers conducted over a period of two days, totalling 12 tests)</p>

          <p><strong>Frequency of tests and Marks:</strong></p>
          <p>The tests are conducted every fortnight and the marks are 250 for each of the GS test.</p>
          <p><strong>Duration:</strong></p>
          <p>The tests are held approximately over a period of 12 weeks starting in June. </p>

          <p><strong>Pedagogy of the GS Main Test Series:</strong></p>
          <p>The Main Examination is intended to assess the overall intellectual traits and depth of understanding of candidates rather than merely the range of their information and memory. The nature and standard of questions in the General Studies papers will be such as to test a candidate’s general awareness of a variety of subjects, which will have relevance for a career in Civil Services. The questions are likely to test the candidate’s basic understanding of all relevant issues, and ability to analyze, and take a view on conflicting socio- economic goals, objectives and demands.</p>
          <p>Accordingly, Vajiram &amp; Ravi, with the vast experience at its disposal, is able to guide the students writing the Main exam in a comprehensive manner so that their answer writing skills are pruned, polished and made exam-oriented.</p>
          <p>Questions are framed in such a manner as to judge the depth of understanding of candidates relating to the topic in question.</p>

          <p><strong>Evaluation and Explanation:</strong>Before the evaluation takes place the subject experts take 2-3 hours duration discussion of the test questions wherein they discuss with the students regarding the ideal answers which could be written. They also lay emphasis on the fact that the content of the answer is more important than its length, which is also the often repeated instruction in the UPSC CSE Main Exam question papers. It is our constant endeavour to check and evaluate the candidates’ answer scripts according to the above adage. A students answer paper undergoes a two layer process of checking and review, in relations to the students test performance. Detailed suggestions on the students performance is usually written in the answer scripts wherever required.</p>

           <p><strong>Model Answers: </strong>Model answers are also provided and uploaded on the website for the benefit of the students. Evaluation and feedback system is designed to provide relevant insights and feedback to each candidate as per his/her performance.</p>
           <p>Exhaustive discussions by the experts/teachers are held every week after the test to provide a roadmap of ideal approach requiring conceptual clarity and interdisciplinary interlinking on the topics asked in the test series. Brain-storming and doubt-clearing on the topics where more clarity is required, is the natural outcome of such discussions. Model answers are provided to the students during such discussions and such model answers are also sent to the students taking postal test series.</p>
           <p><strong>Evaluation and Review for Online GS Main Test Series: </strong>Evaluation and Review, both are done online and the suggestions are typed on the copies they have uploaded. The students even have the option of meeting/emailing the reviewers for any extra clarifications.</p>
           <p>The Evaluation and Review work is done by a team which is actively engaged in teaching or content preparation having at least the experience of the Civil Services Interview.</p>
           <p><strong> Available GS Mains Test Series </strong></p>
           <p>
             <ul>
               <li><a href="/upsc-classroom-gs-mains-test-series.php">Classroom GS Mains Test Series</a></li>
               <li><a href="/upsc-online-gs-mains-test-series.php">Online GS Mains Test Series</a></li>
             </ul>
           </p>

           <p><strong style="font-size: 18px;">Test Series for the Optional Subjects</strong></p>
           <p><strong>(Number of tests in Optional Subjects may vary according to time available between the Prelim and Main Exam)</strong></p>
           
           <p>Optional Subjects – Test Series in Optional Subjects varies as per the need of different subjects. Number of tests will approximately be 5 (sectional) + 2 (comprehensive). Optional Subject Test are conducted between June and September every year. </p>

           <p>Optional Subject test series is available in Public Administration, Psychology, Sociology, Political Science, Commerce, Anthropology, Economics, Medical Sciences, Mathematics and Geography in the month of June. All the subjects offer about 6-8 mock tests.</p>

           <p><strong> Available Optional Subjects Mains Test Series </strong></p>
           <p>
             <ul>
               <!-- <li><a href="{% static 'vajiramandraviweb/pdf/new/Geography_Mains_Test_series_2019.pdf' %}" target="_blank"> Geography Mains Test Series (Online and Offline) </a> -->
               <!-- <li><a href="{% static 'vajiramandraviweb/pdf/new/Anthropology_Mains_Test_series_2019.pdf' %}" target="_blank"> Anthropology Mains Test Series (Offline Only)</a> -->
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-Oct2021-Online-Commerce-Test-Series.pdf' %}" target="_blank"> Commerce Mains Test Series (Online & Offline) </a>
               <!-- <li><a href="{% static 'vajiramandraviweb/pdf/new/mains-test-series/Economics_Mains Test_Series_June_2018.pdf' %}" target="_blank"> Economics Mains Test Series (Offline Only) </a>  -->
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-Oct2021-Online-Maths-Test-Series.pdf' %}" target="_blank"> Mathematics Mains Test Series (Online & Offline) </a>
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-2021-History-Test-Series.pdf' %}" target="_blank"> History Mains Test Series (Online & Offline) </a>
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-2021-Philosophy-Test-Series.pdf' %}" target="_blank"> Philosophy Mains Test Series (Online & Offline) </a>
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-Oct2021-Online-PolSc-Test-Series.pdf' %}" target="_blank"> Political Science & International Relations Mains Test Series (Online & Offline) </a>
               <li><a href="{% static 'vajiramandraviweb/pdf/new/UPSC-Mains-Oct2021-Online-Sociology-Test-Series.pdf' %}" target="_blank"> Sociology Mains Test Series (Online & Offline)</a>
              </ul>
           </p>



        </div>
      </div>
      

    </div>

  </div>
{% endblock base_block %}