{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}
{% block base_meta_block %}
<title> UPSC Current Affairs 2022 | Current Affairs Courses for UPSC IAS 2022 </title>
<meta name="description" content="Current Affairs for UPSC Civil Services" />
{% endblock base_meta_block %}
{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}
{% block base_block %}
<div class="inner_page_intro_header">
    <div class="shadeoverlay"></div>
    <div class="container">
        <div class="content">
            <h1 class=""> Current Affairs for UPSC IAS Exam 2022 </h1>
            <h2 class=""> by Vajiram &amp; Ravi </h2>
        </div>
    </div>
</div>
<div class="container">



    <div class="inner_page_content content_wrapper padding-b-0">
        <div class="row">
          <div class="col-sm-4 col-md-3">
              <a href="/static/vajiramandraviweb/pdf/new/upsc-prelims-2022-current-affairs-quick-revision-part-1-vajiram.pdf" class="image_card d-block">
                  <img src="/static/vajiramandraviweb/pdf/new/recitals/images/prelims_quick_revision_2022.jpg" class="responsive" style="max-width: 100%;">
                  <div class="image_card_btn"> Download </div>
              </a>
          </div>
          <div class="col-sm-4 col-md-3">
              <a href="/static/vajiramandraviweb/pdf/new/recitals/economic_survey_2021-22_vajiram_and_ravi.pdf?v=2" class="image_card d-block">
                  <img src="/static/vajiramandraviweb/pdf/new/recitals/images/economic_survey_2021-22_vajiram_and_ravi_cover_page.png" class="responsive" style="max-width: 100%;">
                  <div class="image_card_btn"> Download </div>
              </a>
          </div>
        </div>
    </div>
    <div class="inner_page_content content_wrapper padding-t-0 margin-t-20">
        <h2 class="font-22 color-444 font_weight_600 ">2021 - 22 UPSC CURRENT AFFAIRS MONTHLY MATERIAL (The Recitals) </h2>
        <div class="row">
          <div class="col-sm-4 col-md-3">
                <a href="https://vajiramandravi-test.s3.us-east-1.amazonaws.com/media/2022/5/4/7/15/4/the-recitals-april-2022.pdf" class="image_card d-block">
                    <img src="https://vajiramandravi-test.s3.us-east-1.amazonaws.com/media/2022/5/4/7/19/1/the-recitals-april-2022-vajiram-cover-page.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-march-2022-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-march-2022-vajiram.png" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-february-2022-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-february-2022-vajiram.png?v=2" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-january-2022-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-january-2022-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-december-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-december-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-november-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-november-2021-vajiram.jpeg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-october-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-october-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-september-2021-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-september-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-august-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-august-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-july-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-july-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-june-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-june-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-may-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-may-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-april-2021-vajiram.pdf" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-april-2021-vajiram.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-march-2021-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-march-2021-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-february-2021-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-february-2021-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-january-2021-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-january-2021-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-december-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-december-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-november-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-november-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-october-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-october-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-september-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-september-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-august-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-august-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-july-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-july-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-june-2020-vajiram.pdf?v=5" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-june-2020-vajiram.jpg?v=5" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-may-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-may-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-april-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-april-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-march-2020-vajiram.pdf?v=5" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-march-2020-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-february-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-february-2020.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-january-2020-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-January-2020.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div>         -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-december-2019-vajiram.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-December-2019-vajiram.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-november-2019.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals-November.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-october-2019.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/the-recitals_October.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/September_2019_The_Recitals.pdf?v=4" class="image_card d-block">
                    <img src="/static/vajiramandraviweb/pdf/new/recitals/images/september_2019_the_recitals.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3 ">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the_recitals_august_2019.pdf" class="image_card d-block padding-10">
                    <img src="/static/vajiramandraviweb/images/recitals/the-recitals-august.jpg" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-md-3 ">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-july-2019.pdf" class="image_card d-block padding-10">
                    <img src=/static/vajiramandraviweb/images/recitals/the-recitals-july.jpg?v=1" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-june-2019.pdf" class="image_card d-block">
                    <img src=/static/vajiramandraviweb/images/recitals/the-recitals-june.jpg?v=1" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-4 col-md-3">
                <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-may-2019.pdf?v=4" class="image_card d-block">
                    <img src=/static/vajiramandraviweb/images/recitals/the-recitals-may.jpg?v=4" class="responsive" style="max-width: 100%;">
                    <div class="image_card_btn"> Download </div>
                </a>
            </div>
        </div>
        <!-- <div class="clearfix"></div> -->
        <!-- 
          <div>
           <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> July 2019 Current Affairs Magazine (The Recitals)</h4>
           <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-6 margin-b-10">
               <a href="/static/vajiramandraviweb/pdf/new/recitals/July_2019_The_Recitals_UPSC_Current_Affairs_by_VajiramAndRavi.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Download July 2019 Recitals </a>
             </div>
             
           </div>
          </div>

          <div>
           <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> June 2019 Current Affairs Magazine (The Recitals)</h4>
           <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-6 margin-b-10">
               <a href="/static/vajiramandraviweb/pdf/new/recitals/Vajiram_Current_Affairs_June_2019_The_Recitals.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Download June 2019 Recitals </a>
             </div>
             
           </div>
          </div>
          
          <div>
           <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> May 2019 Current Affairs Magazine (The Recitals)</h4>
           <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-6 margin-b-10">
               <a href="/static/vajiramandraviweb/pdf/new/recitals/the-recitals-may-2019.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Download May 2019 Recitals </a>
             </div>
             
           </div>
          </div> -->
    </div>
    <div class="inner_page_content content_wrapper padding-b-0">
        <h4 align="justify">Introducing Recitals - The First Ever Magazine Which Teaches Current Affairs Through Q&amp;A.</h4>
        <p align="justify">Current Affairs is of paramount importance for the preparation of the Civil Services Exam for all the 3 stages of the exam. Realizing its significance we treat of current affairs as a separate subject, as its relevance is more than 50% of the civil services syllabus. Vajiram and Ravi&rsquo;s content teams make efforts to comprehensively cover the different facets of current affairs from multiple sources through our different platform such as-</p>
        <ul>
            <li>
                <p align="justify">Daily Articles on Current Issues on Vajiram Student Portal</p>
            </li>
            <li>
                <p align="justify">Daily News on Vajiram App.</p>
            </li>
            <li>
                <p align="justify">Recitals- The Monthly Current Affairs Magazine.</p>
            </li>
        </ul>
        <p align="justify">The daily articles on Current Affairs uploaded on the students&rsquo; portal is exclusively for the students enrolled with the institute, where current affairs from different newspapers is covered extensively from the Prelim test and Main exam. At the end of each month students are asked to appear for monthly quiz on current affairs, which helps in revision of current affairs. Apart from comprehensive coverage of the exam related articles the portal is regularly uploaded with editorial summary analysis, important magazine summaries, Answer writing practice, Prelim Test Series, Main Exam Test Series etc.</p>
        <p align="justify">Vajiram &amp; Ravi had launched a dedicated website and App called <a href="http://www.vajiramias.com/">www.vajiramias.com</a> to extent its enriched programmes in current affairs. Daily news on the App &amp; vajiramias.com covers 10 snippets of important news and students are asked to appear for daily current affairs quiz by the end of the day. App users have the privilege to access the achieve section of the current affairs news as well the daily quiz at a later date. The news and daily quiz are available free to Vajiram &amp; Ravi&rsquo;s devoted subscribers.</p>
        <p align="justify">Having read the extensive current affairs either from the App and students&rsquo; portal, Vajiram &amp; Ravi&rsquo;s current affairs team believes that students would now would have gained good knowledge over the monthly current affairs and it upon itself to further help students to apply this current affairs knowledge in the form the question and answers.</p>
        <p align="justify">Vajiram &amp; Ravi has introduced a new monthly current affairs magazine called &lsquo;The Recitals&rsquo;, which approaches current affairs through question and answers. &lsquo;The Recitals&rsquo; deciphers current affairs in different section necessary for Prelims Current Affairs through Multiple Choice Questions (MCQs), Mains Current Affairs Question &amp; Answers and Interview Current Affairs. The current affairs magazine does not merely provide information, but focuses on the analysis on current issues necessary for the exam.</p>
        <p align="justify">This innovative and unique approach in The Recitals current affairs magazine helps a student gather over 600 Prelims MCQs and 600 Mains Questions &amp; Answers to appear for the Prelim Test and Main Exam, thereby helpful</p>
        <ul>
            <li>
                <p align="justify">to identify different news articles that can be converted to a MCQ or Main Q &amp; A</p>
            </li>
            <li>
                <p align="justify">Question Bank of Prelims and Mains questions with model answers</p>
            </li>
            <li>
                <p align="justify">Helps prepare for all the 3 stages of the civil services exam</p>
            </li>
            <li>
                <p align="justify">Apart from General Studies, helps prepare for Essay aswell</p>
            </li>
            <li>
                <p align="justify">learning the art of answer writing</p>
            </li>
            <li>
                <p align="justify">countering the surprise element that the UPSC exams throw every year</p>
            </li>
            <li>
                <p align="justify">being prepared for most current affairs questions</p>
            </li>
            <li>
                <p align="justify">organizing and presentation a good answer</p>
            </li>
            <li>
                <p align="justify">helps in timely completion of the exam</p>
            </li>
        </ul>
        <p align="justify">The Recitals Current Affairs Magazine is a teacher in itself helping a candidate to realise his/her dream of clearing the civil services exam and other related exams to the civil services.</p>
        <p align="justify">The Recitals has five sections. These are:</p>
        <ol>
            <li>
                <p align="justify">Feature Article: The civil service mains exam has become quite exhaustive and analytical, especially since 2013 after the change in syllabus. Features article section picks and focus on 2-3 topics every month that provide an insight into the issue so as to help students understand the core of the issue giving at most importance to analysis. This will help in Essay writing as well as the Mains Exam.</p>
            </li>
            <li>
                <p align="justify">Mains Q&amp;A: This section contains descriptive question and answer based on current developments. A hallmark of the current affairs team, posts a daunting tasks to come out with Mains Q &amp;A every month. A challenge an experienced and efficient handles with care to deliver the best to its ardent readers. Extra Mile is a sub-section that provides extra information on the topic in discussion, with additional information to use in the exam depending on the need of the question.</p>
            </li>
            <li>
                <p align="justify">Prelims Q&amp;A: This section contains objective based questions that will test your diligence while reading the current issues. These MCQs will be of UPSC standard with detailed explanation. Students are advised to attempt these MCQs honestly and read the explanation carefully. The idea is to also provide students with a question bank of around 600 current affairs MCQs (50 Qs &times; 12 months = 600 Qs) before appearing for the prelim test, which will act as revision on issues spanning over the entire year.</p>
            </li>
            <li>
                <p align="justify">Bridging Gaps: This miscellaneous section is to cover current affairs topics that could not be converted to a MCQ or a Q &amp; A, but are important for the exam and it is important for candidates to be informed about this content.</p>
            </li>
            <li>
                <p align="justify">Case Study: This section has been prepared to help prepare for G.S paper -4. This section would contain a case study based on a happening in the month along with analysis and solution to the problem asked in the case.</p>
            </li>
        </ol>
        <p align="justify">It is advised that students follow study and revise the current affairs regularly through the App / <a href="www.vajiramas.com" aria-invalid="true">www.vajiramas.com</a> which help in systematic coverage of syllabus over the months. &lsquo;The Recitals&rsquo; current affairs magazine complements the content on the App and the Student&rsquo;s portal and helps complete a candidate pursuit for success.</p>
    </div>
    <div class="inner_page_content content_wrapper padding-b-0">
        <div class="">
            <h2 class="font-22 color-444 font_weight_600  margin-t-20">Quick Revision Materials for Prelims 2019</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a target="_blank" class="no-decoration no-border-radius d-block  font_weight_600" href="/static/vajiramandraviweb/pdf/new/Quick_Revision_For_Prelims_Part_3_Feb_2019_to_15th_April_2019.pdf">
                        <i class="fa fa-download"></i> Quick Revision for Prelims 2019 - Part 3 - 1st Feb 2019 to 15th April 2019
                    </a>
                </li>
                <li class="list-group-item">
                    <a target="_blank" class="no-decoration no-border-radius d-block  font_weight_600" href="/static/vajiramandraviweb/pdf/new/Quick_Revision_For_Prelims_Part_2_Dec_2018_Jan_2019.pdf">
                        <i class="fa fa-download"></i> Quick Revision for Prelims 2019 - Part 2 - Dec 2018 to Jan 2019
                    </a>
                </li>
                <li class="list-group-item">
                    <a target="_blank" class="no-decoration no-border-radius d-block  font_weight_600" href="/static/vajiramandraviweb/pdf/Quick_revision_Prelims_2019_Part_1.pdf">
                        <i class="fa fa-download"></i> Quick Revision for Prelims 2019 - Part 1 - June 2018 - Nov 2018
                    </a>
                </li>
                <li class="list-group-item">
                    <a target="_blank" class="no-decoration no-border-radius d-block  font_weight_600" href="/static/vajiramandraviweb/pdf/Budget_document.pdf">
                        <i class="fa fa-download"></i> Budget Highlights
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner_page_content content_wrapper padding-t-0">
        <h2 class="font-22 color-444 font_weight_600 text-center">CURRENT AFFAIRS MONTHLY MATERIAL 2018 - 2019</h2>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> April 2019 </h4>
            <div class="row">
                <!--  Uploaded -->
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/april-2019/Content_CA_April_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/april-2019/PRELIMS_EXCLUSIVE_April_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/april-2019/TEST_YOURSELF_April_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/april-2019/Case_Study_April_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> March 2019 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/march-2019/Current_Affairs_March_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/march-2019/PRELIMS_EXCLUSIVE_March_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/march-2019/TEST_YOURSELF_March_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/march-2019/Case_Study_March_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> February 2019 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/Current_Affairs_Feb_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/Prelims_Exclusive_Feb_2019_Updated_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/Test_Yourself_Feb_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/new/current-affairs/Case_Study_Feb_2019_Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> January 2019 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/Current-Affairs-January-2019-Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/PRELIMS-EXCLUSIVE-January-2019-Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/Test-Yourself-January-2019-Vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="/static/vajiramandraviweb/pdf/Case-Study-January-2019-vajiram.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> December 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Current_Affairs_December_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_PRELIMS_EXCLUSIVE_December_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_TEST_YOURSELF_December_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Case_Study_December_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> November 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Content_CA_Nov_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_PRELIMS_EXCLUSIVE.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Nov_TEST_YOURSELF.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Nov_CASE_STUDY.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> October 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Content_Oct_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/PRELIMS_EXCLUSIVE_Oct.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF_Oct.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CASE_STUDY_Oct.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> September 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Content_CA_Sept.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/PRELIMS_EXCLUSIVE_Sept_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF_Sept_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CASE_STUDY_Sept_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> August 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/August_Vajiram_Content_CA.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Aug_2018_PRELIMS_EXCLUSIVE.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/August_Vajiram_CA_TEST_YOURSELF.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/August_Vajiram_Case_Study.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> July 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="http://bit.ly/2KIqOA1" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="http://bit.ly/2M8P6c3" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="http://bit.ly/2KGA3kw" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="http://bit.ly/2OmZObN" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> June 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Content_Current_Affairs_June_18.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Prelim_Exclusive_Material_June_18.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Test_Yourself_Current_Affairs_June_18.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Vajiram_Case_Study_June_18.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> May 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/content_ca_may_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/PRELIMS_EXCLUSIVE.pdf" target="_blank" class="btn btn-block font_weight_600 btn-warning"> Prelims Exclusive </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/case_study_may.pdf" target="_blank" class="btn btn-block font_weight_600 btn-primary"> Case Study </a>
                </div>
            </div>
        </div>
    </div>
    <div class="inner_page_content content_wrapper padding-t-0">
        <h2 class="font-22 color-444 font_weight_600 text-center">CURRENT AFFAIRS MONTHLY MATERIAL 2017 - 2018</h2>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> April 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Content_CA_Part_12_April_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF_April_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> March 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Part_11_March_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Test_Yourself_CA_Part_11_March_2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> February 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Content_Part_10_Feb_2018.docx" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF_Feb_2018.docx" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> January 2018 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Current-Affairs_Jan_2018_Part_9.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/TEST_YOURSELF_Part_9_Jan2018.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> December 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Content_Part_8_Dec_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Test_Yourself_Part_8_Dec_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> November 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Current_Affairs_Nov_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Current_Affairs_MCQs_Nov_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> October 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Part__October_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Test_Yourself_Oct_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> September 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Part_5_September_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Test_Yourself_Sept_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> August 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Content_Part_4_August_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/MCQ_Part_4_CA_August_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> July 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/CA_Part_3_July_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/Test_Yourself_Part_3_July_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> June 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/June_2017_CA.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/June_2017_Test_Yourself.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a>
                </div>
            </div>
        </div>
        <div>
            <h4 class="margin-b-20"> <i class="fa fa-calendar margin-r-5"></i> May 2017 </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/current_affairs_may_2017_new.pdf" target="_blank" class="btn btn-block font_weight_600 btn-success"> Content </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 margin-b-10">
                    <a href="https://www.vajiramandravi.com/static/vajiramandraviweb/pdf/test_yourself_current_affairs_may_2017.pdf" target="_blank" class="btn btn-block font_weight_600 btn-danger"> Test Yourself </a> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock base_block %}