{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> UPSC Coaching Fees in Delhi | IAS Coaching Fees in Delhi | UPSC Fees Structure</title>
  	<meta name="description" content="Coaching Fees for Vajiram and Ravi's UPSC Course" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">  Course Fee Structure for UPSC CSE Preparation</h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>

<div class="inner_page_highlight_box">
    <div class="container">
    <div class="row">
      
      <div class="col-md-12 ">
        <a  target="_blank" class="btn d-block btn-lg no-border-radius btn-danger font_weight_600" href="/static/vajiramandraviweb/pdf/new/upsc-classroom-online-courses-april-2023-vajiram-and-ravi.pdf"> Download April 2022-23 Fee Structure </a>
      </div>
   
      
    </div>
    </div>
  </div>

    <div class="container">

    <div class="inner_page_content content_wrapper">
    	<h3> Classroom/Hybrid Course Fee Structure </h3>
     	<p>

     	</p>
			<div class="overflow_x_scroll">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Subject</th>
						<th>Date of Commencement</th>
						<th>Duration</th>
						<th>Timings </th>
						<th> Fee  </th>
					</tr>
					<tr>
						<td>General Studies Prelim-Cum-Mains</td>
						<td>15th April 2022 </td>
						<td> 36 Weeks @ 2.5hr per Day</td>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td>07:30 AM to 10:00 AM</td></tr>
								<!-- <tr><td>11:00 AM to 01:30 PM</td></tr> -->
								<tr><td>02:00 PM to 04:30 PM</td></tr>
								<tr><td>05:30 PM to 08:00 PM</td></tr>
							</table>
							
						</td>
						<td>Rs. 1,70,000</td>
					</tr>
					<tr >
						<th colspan="5"> </th>
					</tr>
					<tr>
						<td>CSAT </td>
						<td>25th April 2022 </td>
						<td>14 Weeks @ 2hr per day</td>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td>05:30 PM to 7:30 PM</td></tr>
								<!-- <tr><td>11:00 AM to 01:00 PM</td></tr>
								<tr><td>02:00 PM to 04:00 PM</td></tr>
								<tr><td>05:00 PM to 07:00 PM</td></tr> -->
							</table>
							
						</td>
						<td>Rs. 18,000</td>
					</tr>
					<!-- <tr >
						<th colspan="5"> Optional Subjects</th>
					</tr>
					<tr>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td>Public Administration</td></tr>
								<tr><td>Geography (Batch 1)</td></tr>
								<tr><td>Political Science & I.R. (Batch 1)</td></tr>
								<tr><td>Commerce and Accountancy</td></tr>
							</table>
						</td>
						<td>5 June 2019 </td>
						<td>16 Weeks @ 2.5hr per day</td>
						<td>08:00 AM to 10:30 AM</td>
						<td>Rs. 50,000</td>
					</tr>
					
					<tr >
						<th colspan="5"> </th>
					</tr>

					<tr>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td>Economics</td></tr>
								<tr><td>Sociology</td></tr>
								<tr><td>History</td></tr>
							</table>
						</td>
						<td>5 June 2019 </td>
						<td>16 Weeks @ 2.5hr per day</td>
						<td style="padding:0;"> 
							<table class="table " style="margin:0;">
								<tr><td>11:00 AM to 01:30 PM</td></tr>
								<tr><td>02:00 PM to 04:30 PM</td></tr>
								<tr><td>05:00 PM to 07:30 PM</td></tr>
							</table>
						</td>
						<td>Rs. 50,000</td>
					</tr>

					<tr>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td> Geogrpahy (Batch - II)</td></tr>
								<tr><td>Political Science & I.R. (Batch II)</td></tr>
								
							</table>
						</td>
						<td>5 July 2019 </td>
						<td>16 Weeks @ 2.5hr per day</td>
						<td > 
							11:00 AM to 01:30 PM
						</td>
						<td>Rs. 50,000</td>
					</tr>


					<tr>
						<td style="padding:0;">
							<table class="table " style="margin:0;">
								<tr><td>Anthropology</td></tr>
								<tr><td>Philosophy</td></tr>
								
							</table>
						</td>
						<td>5 July 2019 </td>
						<td>16 Weeks @ 2.5hr per day</td>
						<td > 
							2:00 PM to 07:30 PM
						</td>
						<td>Rs. 50,000</td>
					</tr>

					

					<tr>
						<td> Mathematics </td>
						<td>23 Aug 2019</td>
						<td>24 Weeks </td>
						<td>08:00 AM to 10:30 AM</td>
						<td>Rs. 62,000</td>
					</tr>

					<tr>
						<td> Psychology </td>
						<td>23 Aug 2019</td>
						<td> 18 Weeks </td>
						<td>05:00 PM to 07:30 PM</td>
						<td>Rs. 50,000</td>
					</tr>
 -->
				</table>
			</div>
			<div>
				<p><strong>
					Online Registration for the above courses will be available on 6th and 7th April 2022 between 09:00 AM and 05:00 PM. on https://admissions.vajiramias.com/online-admission/ 
				</strong></p>
				<p><strong>
					Registration fee of Rs. 700 is to be paid at the time of online registration.
				</strong></p>
			</div>
    </div>

  </div>
{% endblock base_block %}