{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block base_meta_block %}
	<title> Yojana Magazine Summary for UPSC IAS Preparation </title>
  <meta name="description" content="Yojana Magazine Summary for UPSC Preparation" />
{% endblock base_meta_block %}

{% block base_head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'vajiramandraviweb/css/old_style.css' %}">
{% endblock base_head_block %}

{% block base_block %}
<div class="inner_page_intro_header">
  <div class="shadeoverlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="">  Yojana Summary | Yojana Magazine for UPSC Preparation </h1>
      <h2 class=""> by Vajiram &amp; Ravi  </h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="inner_page_content content_wrapper">

     <p>
    		Yojana Magazine is a monthly magazine published by the Government of India, as a result, you see the government's view on an issue.
    	</p>
     	<p>
   			<h3> Why should you read Yojana Magazine ? </h3>
     		<ul> 
     			<li> <strong> Yojana Magazine </strong> presents <strong>government point of view on issues</strong> and also provide data and analysis for the same.</li>
     			<li>Reading Yojana Magazine will help you in Essay writing as these magazines analyzes each topic through <strong>multiple perspectives</strong> by various people of diverse background. </li>
     			<li> <strong> Yojana is a monthly magazine </strong> and covers a good portion of the mains syllabus especially for General Studies. </li>
     			<li>You can also find out information about recently launched government schemes, government initiatives, policy initiatives etc.</li>
     		</ul>
     	</p>
     	<div class=" ">
     			<h3> Download Yojana Magazine Summary </h3>
     			<p> Our strong and experienced team summarizes each issue of the <strong> Yojana Magazine </strong> to help students help in revision. <br/> You can download the Magazine Summary through the links below :  </p>

     		<ul class="list-group" >

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-April-2022-Vajiram.pdf" title="Yojana Magazine Summary for April 2022 Issue"> Yojana Magazine Summary for April 2022 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-March-2022-Vajiram.pdf" title="Yojana Magazine Summary for March 2022 Issue"> Yojana Magazine Summary for March 2022 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-February-2022-Vajiram.pdf" title="Yojana Magazine Summary for February 2022 Issue"> Yojana Magazine Summary for February 2022 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-January-2022-Vajiram.pdf" title="Yojana Magazine Summary for January 2022 Issue"> Yojana Magazine Summary for January 2022 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-December-2021-Vajiram.pdf" title="Yojana Magazine Summary for December 2021 Issue"> Yojana Magazine Summary for December 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-November-2021.pdf" title="Yojana Magazine Summary for November 2021 Issue"> Yojana Magazine Summary for November 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-October-2021.pdf" title="Yojana Magazine Summary for October 2021 Issue"> Yojana Magazine Summary for October 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-September-2021.pdf" title="Yojana Magazine Summary for September 2021 Issue"> Yojana Magazine Summary for September 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-August-2021.pdf" title="Yojana Magazine Summary for August 2021 Issue"> Yojana Magazine Summary for August 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-July-2021.pdf" title="Yojana Magazine Summary for July 2021 Issue"> Yojana Magazine Summary for July 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-June-2021.pdf" title="Yojana Magazine Summary for June 2021 Issue"> Yojana Magazine Summary for June 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-May-2021.pdf" title="Yojana Magazine Summary for May 2021 Issue"> Yojana Magazine Summary for May 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-April-2021.pdf" title="Yojana Magazine Summary for April 2021 Issue"> Yojana Magazine Summary for April 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-March-2021.pdf" title="Yojana Magazine Summary for March 2021 Issue"> Yojana Magazine Summary for March 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-February-2021.pdf" title="Yojana Magazine Summary for February 2021 Issue"> Yojana Magazine Summary for February 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-January-2021.pdf" title="Yojana Magazine Summary for January 2021 Issue"> Yojana Magazine Summary for January 2021 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-December-2020.pdf" title="Yojana Magazine Summary for December 2020 Issue"> Yojana Magazine Summary for December 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-November-2020.pdf" title="Yojana Magazine Summary for November 2020 Issue"> Yojana Magazine Summary for November 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-October-2020.pdf" title="Yojana Magazine Summary for October 2020 Issue"> Yojana Magazine Summary for October 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-September-2020.pdf" title="Yojana Magazine Summary for September 2020 Issue"> Yojana Magazine Summary for September 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-August-2020.pdf" title="Yojana Magazine Summary for August 2020 Issue"> Yojana Magazine Summary for August 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-July-2020.pdf" title="Yojana Magazine Summary for July 2020 Issue"> Yojana Magazine Summary for July 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-June-2020.pdf" title="Yojana Magazine Summary for June 2020 Issue"> Yojana Magazine Summary for June 2020 Issue </a> </li>
					
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-May-2020.pdf" title="Yojana Magazine Summary for May 2020 Issue"> Yojana Magazine Summary for May 2020 Issue </a> </li>
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-April-2020.pdf" title="Yojana Magazine Summary for April 2020 Issue"> Yojana Magazine Summary for April 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-March-2020.pdf" title="Yojana Magazine Summary for March 2020 Issue"> Yojana Magazine Summary for March 2020 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-February-2020.pdf" title="Yojana Magazine Summary for February 2020 Issue"> Yojana Magazine Summary for February 2020 Issue </a> </li> 

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-January-2020-Vajiram.pdf" title="Yojana Magazine Summary for January 2020 Issue"> Yojana Magazine Summary for January 2020 Issue </a> </li> 

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-December-2019.pdf" title="Yojana Magazine Summary for December 2019 Issue"> Yojana Magazine Summary for January 2019 Issue </a> </li>      
                    
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_November_2019.pdf" title="Yojana Magazine Summary for November 2019 Issue"> Yojana Magazine Summary for November 2019 Issue </a> </li>      
          
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_October_2019.pdf" title="Yojana Magazine Summary for October 2019 Issue"> Yojana Magazine Summary for October 2019 Issue </a> </li>      

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_September_2019.pdf" title="Yojana Magazine Summary for September 2019 Issue"> Yojana Magazine Summary for September 2019 Issue </a> </li> 

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_August_2019.pdf" title="Yojana Magazine Summary for August 2019 Issue"> Yojana Magazine Summary for August 2019 Issue </a> </li> 

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-July-2019.pdf" title="Yojana Magazine Summary for July 2019 Issue"> Yojana Magazine Summary for July 2019 Issue </a> </li>     

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-June-2019.pdf" title="Yojana Magazine Summary for June 2019 Issue"> Yojana Magazine Summary for June 2019 Issue </a> </li>  
             
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana-Summary-May-2019.pdf" title="Yojana Magazine Summary for May 2019 Issue"> Yojana Magazine Summary for May 2019 Issue </a> </li>     
          
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_April_2019_Vajiram.pdf" title="Yojana Magazine Summary for April 2019 Issue"> Yojana Magazine Summary for April 2019 Issue </a> </li>     
          
          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_March_2019_Vajiram.pdf" title="Yojana Magazine Summary for March 2019 Issue"> Yojana Magazine Summary for March 2019 Issue </a> </li>     

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/new/Yojana_Summary_February_2019.pdf" title="Yojana Magazine Summary for February 2019 Issue"> Yojana Magazine Summary for February 2019 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_January_2019_Vajiram.pdf" title="Yojana Magazine Summary for January 2019 Issue"> Yojana Magazine Summary for January 2019 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_December_2018_Vajiram.pdf" title="Yojana Magazine Summary for December 2018 Issue"> Yojana Magazine Summary for December 2018 Issue </a> </li>

          <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_Nov_2018.pdf" title="Yojana Magazine Summary for November 2018 Issue"> Yojana Magazine Summary for November 2018 Issue </a> </li>

				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_October_2018.pdf" title="Yojana Magazine Summary for October 2018 Issue"> Yojana Magazine Summary for October 2018 Issue </a> </li>

				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_September_2018.pdf" title="Yojana Magazine Summary for September 2018 Issue"> Yojana Magazine Summary for September 2018 Issue </a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_August_2018.pdf" title="Yojana Magazine Summary for August 2018 Issue">Yojana Magazine Summary for August 2018 Issue</a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_July_2018.pdf" title="Yojana Magazine Summary for July 2018 Issue">Yojana Magazine Summary for July 2018 Issue</a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_June_2018.pdf" title="Yojana Magazine Summary for June 2018 Issue">Yojana Magazine Summary for June 2018 Issue</a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_May_2018_Formatted.pdf" title="Yojana Magazine Summary for May 2018 Issue">Yojana Magazine Summary for May 2018 Issue</a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_April_2018.pdf" title="Yojana Magazine Summary for April 2018 Issue"> Yojana Magazine Summary for April 2018 Issue </a> </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_March_2018.pdf" title="Yojana Magazine Summary for March 2018 Issue">Yojana Magazine Summary for March 2018 Issue</a>  </li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_February_2018_Fromatted.pdf" title="Yojana Magazine Summary for February 2018 Issue">Yojana Magazine Summary for February 2018 Issue</a>  </li>

				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_January_2018_Formatted.pdf" title="Yojana Magazine Summary for January 2018 Issue">Yojana Magazine Summary for January 2018 Issue</a> </li>

				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_December_2017.pdf" title="Yojana Magazine Summary for December 2017 Issue"> Yojana Magazine Summary for December 2017 Issue </a></li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_November_2017.pdf" title="Yojana Magazine Summary for November 2017 Issue"> Yojana Magazine Summary for November 2017 Issue </a></li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_October_2017.pdf" title="Yojana Magazine Summary for October 2017 Issue"> Yojana Magazine Summary for October 2017 Issue </a></li>
					
				  <li class="list-group-item"><a target="_blank" href="/static/vajiramandraviweb/pdf/Yojana_Summary_September_2017.pdf" title="Yojana Magazine Summary for September 2017 Issue"> Yojana Magazine Summary for September 2017 Issue </a></li>		                

				</ul>

			</div>
      

    </div>

  </div>
{% endblock base_block %}